<GridLayout backgroundColor="#FFFFFF" verticalAlignment="center" horizontalAlignment="center">

<ScrollView 
    width="100%" 
    orientation="vertical">
            
<GridLayout  
    rows="11*, 1*"
    columns="*"
    height="100%"
    backgroundColor="#FFFFFF">
        
            <StackLayout 
                row="0"
                margin="0"
                horizontalAlignment="center" 
                verticalAlignment="top" 
                backgroundColor="#FFFFFF">
            


               <!-- SECCION DATOS GENERALES -->
                <GridLayout 
                    columns="8*,2*" 
                    rows="*"  
                    backgroundColor="#023141" 
                    width="100%" 
                    height="42">
                     
                        <Label 
                            col="0" 
                            row="0" 
                            color="#FFFFFF"
                            margin="8" 
                            fontSize="20"
                            textAlignment="left"
                            fontWeigth="700"
                            [text]="'CODIGO '+prod.codigo_erp"></Label>
                      
                         <Label 
                            col="1" 
                            row="0" 
                            color="#FFFFFF"
                            margin="8" 
                            fontSize="20"
                            fontFamily="FontAwesome"
                            textAlignment="right"
                            fontWeigth="700"
                            (tap)="reloadImage()"
                            text="&#xf019;"></Label>


                </GridLayout>

              <StackLayout
                padding="2"
                margin="2"
                width="98%"
                height="400px"
                borderWidth="1"
                borderColor="#DDDDDD"
                verticalAlignment="bottom"
                horizontalAlignment="center">
                    
                    <Label
                          fontSize="16"
                          fontWeight="700"
                          color="#DDDDDD"
                          textAlignment="center"
                          textWrap="true"
                          [visibility]="(!mostrarFoto ||prod.sin_foto == 'S') ? 'visible' : 'collapsed' "
                          text="PRODUCTO SIN FOTO"></Label>
                    
                    <WebImage 
                        width="100%"
                        height="100%"
                        stretch="aspectFit"
                        [visibility]="(prod.sin_foto != 'S' && mostrarFoto) ? 'visible' : 'collapsed' "
                        [src]="prod.foto_medium"></WebImage>

                </StackLayout>     
            
            <ScrollView>
            
            <StackLayout margin="5"> 
                <!-- SECCION DATOS GENERALES -->
                <GridLayout 
                        columns="8*,2*" 
                        rows="*"  
                        backgroundColor="#393939" 
                        width="100%" 
                        marginTop="8"
                        height="42">
                            <Label 
                                col="0" 
                                row="0" 
                                color="#FFFFFF"
                                margin="8" 
                                fontSize="20"
                                textAlignment="left"
                                fontWeigth="700"
                                text="DESCRIPCIÓN"></Label>
                </GridLayout>
                <!-- desc -->
                <GridLayout
                            margin="0"
                            columns="12*" 
                            width="100%"
                            rows="*" 
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#dddddd">  
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                fontWeight="400"
                                paddingLeft="5"
                                textAlignment="left" 
                                [text]="prod.descripcion" 
                                textWrap="true"></Label>

                </GridLayout>

                <GridLayout 
                    columns="8*,2*" 
                    rows="*"  
                    backgroundColor="#393939" 
                    width="100%" 
                    marginTop="8"
                    height="42">
                        <Label 
                            col="0" 
                            row="0" 
                            color="#FFFFFF"
                            margin="8" 
                            fontSize="20"
                            textAlignment="left"
                            fontWeigth="700"
                            text="TABLA DEL PRODUCTO"></Label>
                </GridLayout>

                <!-- nombre -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#dddddd">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="4"
                                textAlignment="left"
                                textTransform="uppercase"
                                fontWeigth="700" 
                                text="NOMBRE"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                fontWeight="400"
                                paddingLeft="5"
                                textAlignment="left" 
                                [text]="prod.nombre" 
                                textWrap="true"></Label>

                </GridLayout>

                 <!-- precio -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#FFFFFF">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="4"
                                textAlignment="left"
                                textTransform="uppercase"
                                fontWeigth="700" 
                                text="PRECIO"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                fontWeight="400"
                                paddingLeft="5"
                                textAlignment="left" 
                                [text]="'$' +prod.precio" 
                                textWrap="true"></Label>

                </GridLayout>

                 <!-- filtros -->
                <GridLayout
                            *ngFor="let f of prod.filtros; let i=index"
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            [backgroundColor]="(i%2==0) ? '#dddddd' : '#ffffff' ">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="4"
                                textAlignment="left"
                                textTransform="uppercase"
                                fontWeigth="700" 
                                [text]="f.nombre"
                                textWrap="false"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                fontWeight="400"
                                paddingLeft="5"
                                textAlignment="left" 
                                [text]="(i==0) ? prod.filtro_1 : (i==1) ? prod.filtro_2 : (i==2) ? prod.filtro_3 : (i==3) ? prod.filtro_4 : (i==4) ? prod.filtro_4 : prod.filtro_6" 
                                textWrap="true"></Label>

                </GridLayout>
              
                 <!-- activo -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#FFFFFF">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="4"
                                textAlignment="left"
                                textTransform="uppercase"
                                fontWeigth="700" 
                                text="ESTADO"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                fontWeight="400"
                                paddingLeft="5"
                                textAlignment="left" 
                                [text]="prod.activo =='S' ? 'ACTIVO':'INACTIVO'" 
                                textWrap="true"></Label>

                </GridLayout>
                
                  <!-- activo -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#dddddd">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="4"
                                textAlignment="left"
                                textTransform="uppercase"
                                fontWeigth="700" 
                                text="STOCK"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                fontWeight="400"
                                paddingLeft="5"
                                textAlignment="left" 
                                [text]="prod.stock > 0 ? 'DISPONIBLE ('+prod.stock+')' : 'NO DISPONIBLE' " 
                                textWrap="true"></Label>

                </GridLayout>
    

                  <!-- U.VENTA -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            borderBottomWidth="4"
                            borderBottomColor="#dddddd"
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#FFFFFF">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="4"
                                textAlignment="left"
                                textTransform="uppercase"
                                fontWeigth="700" 
                                text="U.VENTA"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                fontWeight="400"
                                paddingLeft="5"
                                textAlignment="left" 
                                [text]="prod.unidad_venta" 
                                textWrap="true"></Label>

                </GridLayout>


                     <!-- orden -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#dddddd">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="4"
                                textAlignment="left"
                                textTransform="uppercase"
                                fontWeigth="700" 
                                text="ORDEN"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                fontWeight="400"
                                paddingLeft="5"
                                textAlignment="left" 
                                [text]="prod.orden" 
                                textWrap="true"></Label>

                </GridLayout>
                
                   <!-- orden -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#FFFFFF">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="4"
                                textAlignment="left"
                                textTransform="uppercase"
                                fontWeigth="700" 
                                text="DESTACADO"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                fontWeight="400"
                                paddingLeft="5"
                                textAlignment="left" 
                                [text]="prod.destacado" 
                                textWrap="true"></Label>

                </GridLayout>


              </StackLayout> 
            </ScrollView>
            </StackLayout>
            
            <StackLayout row="1" verticalAlignment="bottom" backgroundColor="#023141" ios:paddingTop="5" ios:paddingBottom="5">
                     <Button 
                        android:width="100%"
                        ios:width="80%"
                        ios:height="40"
                        ios:marginTop="10"
                        fontSize="18"
                        backgroundColor="#023141"
                        color="#FFFFFF"
                        (tap)="close()"  
                        text="VOLVER"></Button>
            </StackLayout>
                
    </GridLayout>
    
</ScrollView>

</GridLayout>