<GridLayout backgroundColor="#FFFFFF" verticalAlignment="center" horizontalAlignment="center">

<GridLayout 
    rows="11*, 1*"
    columns="*"
    height="100%"
    backgroundColor="#DDDDDD">

    <ScrollView 
    width="100%" 
    orientation="vertical">
            

            <StackLayout 
                row="0"
                margin="0"
                horizontalAlignment="center" 
                verticalAlignment="top" 
                backgroundColor="#DDDDDD">
            


                <!-- SECCION DATOS GENERALES -->
                <GridLayout 
                    columns="8*,2*" 
                    rows="*"  
                    backgroundColor="#023141" 
                    width="100%" 
                    height="42">
                        <Label 
                            col="0" 
                            row="0" 
                            color="#FFFFFF"
                            margin="8" 
                            fontSize="20"
                            textAlignment="left"
                            fontWeigth="700"
                            text="DATOS GENERALES"></Label>
                </GridLayout>
                
                <!-- nombre -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            padding="4"
                            rows="*" 
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#dddddd">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="4"
                                textTransform="uppercase"
                                fontWeigth="700"
                                text="NOMBRE"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeigth="400"
                                [text]="cliente.nombre" 
                                textWrap="true"></Label>

                </GridLayout>

                <!-- cuit -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            padding="4"
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#FFFFFF">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="4"
                                textTransform="uppercase"
                                fontWeight="400"
                                text="CUIT"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                [text]="cliente.cuit ? cliente.cuit : 0" 
                                textWrap="true"></Label>

                </GridLayout>


                <!-- direccion -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            padding="4"
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#dddddd">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeigth="700"
                                text="DIRECCION"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                [text]="cliente.direccion +','+ cliente.localidad +','+ cliente.provincia +'.' "
                                textWrap="true"></Label>

                </GridLayout>

                <!-- EMAIL -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            padding="4"
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#FFFFFF">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                textTransform="uppercase" 
                                text="EMAIL"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                [text]="cliente.email ? cliente.email : 'NO INFORMA'" 
                                textWrap="true"></Label>

                </GridLayout>
                 
                <!-- tel -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            padding="4"
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#DDDDDD">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                text="TEL"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                [text]="cliente.telefono ? cliente.telefono : 000000" 
                                textWrap="true"></Label>

                </GridLayout>

                <!-- IVA -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            padding="4"
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#FFFFFF">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                textTransform="uppercase"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                text="IVA"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                [text]="cliente.iva ? cliente.iva : 0" 
                                textWrap="true"></Label>

                </GridLayout>
                

                 <!-- SECCION DETALLE -->
                  <GridLayout 
                    columns="8*,2*" 
                    rows="*"  
                    backgroundColor="#023141" 
                    width="100%" 
                    height="42">

                        <Label 
                            col="0" 
                            row="0" 
                            color="#FFFFFF"
                            margin="8" 
                            fontSize="20"
                            paddingLeft="5"
                            textAlignment="left"
                            fontWeight="400" 
                            text="DETALLE"></Label>
                        <Label 
                            col="1"
                            row="0"
                            color="#FFFFFF"
                            margin="8"
                            fontSize="20"
                            textAlignment="right"
                            fontWeight="400"
                            fontFamily="FontAwesome" 
                            text="&#xf129;"></Label>
                </GridLayout>
                

                 <!-- p-lista -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            padding="4"
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#dddddd">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                textTransform="uppercase"
                                text="LISTA ($)"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                [text]="cliente.precio_lista ? 'LISTA_'+cliente.precio_lista : 'NO INFORMA'" 
                                textWrap="true"></Label>

                </GridLayout>

                <!-- descuento -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            padding="4"
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#FFFFFF">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                textTransform="uppercase"
                                text="DESC (%)"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                [text]="cliente.descuento ? cliente.descuento+'%' : '0%'" 
                                textWrap="true"></Label>

                </GridLayout>

                <!-- limitecredito -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            padding="4"
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#dddddd">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                textTransform="uppercase"
                                text="L.CREDITO (<)"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                [text]="cliente.limite_credito ? cliente.limite_credito : 'NO INFORMA'" 
                                textWrap="true"></Label>

                </GridLayout>
                
                 <!-- descuento -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            padding="4"
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#FFFFFF">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                textTransform="uppercase"
                                text="ZONA"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                [text]="cliente.zona_nombre ? cliente.zona_nombre : 'NO INFORMA'" 
                                textWrap="true"></Label>

                </GridLayout>

                <!-- vendedor -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            padding="4"
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#dddddd">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                textTransform="uppercase"
                                text="VENDEDOR"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                [text]="cliente.vendedor_nombre ? cliente.vendedor_nombre : 'NO INFORMA'" 
                                textWrap="true"></Label>

                </GridLayout>

                <!-- vendedor -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            padding="4"
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#FFFFFF">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                textTransform="uppercase"
                                text="ESTADO"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                [text]="cliente.estado == 'S' ? 'ACTIVO' : 'INACTIVO'" 
                                textWrap="true"></Label>

                </GridLayout>

                <!-- fpago -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            padding="4"
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#DDDDDD">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                textTransform="uppercase"
                                text="F. PAGO"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                [text]="cliente.pago_nombre ? cliente.pago_nombre : 'NO INFORMA'" 
                                textWrap="true"></Label>

                </GridLayout>

                <!-- transporte -->
                <GridLayout
                            margin="0"
                            columns="4*,8*" 
                            width="100%"
                            rows="*" 
                            padding="4"
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#FFFFFF">  

                            <Label 
                                col="0" 
                                row="0" 
                                borderRightWidth="1"
                                borderRightColor="#393939"
                                fontSize="17"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                textTransform="uppercase"
                                text="TRANSPORTE"
                                textWrap="true"></Label>
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                [text]="cliente.transporte_nombre ? cliente.transporte_nombre : 'NO INFORMA'" 
                                textWrap="true"></Label>

                </GridLayout>

                  <!-- SECCION OBSERVACIONES -->
                    <GridLayout 
                    columns="8*,2*" 
                    rows="*"  
                    backgroundColor="#023141" 
                    width="100%" 
                    height="42">
                        <Label 
                            col="0" 
                            row="0" 
                            color="#FFFFFF"
                            margin="8" 
                            fontSize="20"
                            paddingLeft="5"
                            textAlignment="left"
                            fontWeight="400" 
                            text="OBSERVACIONES"></Label>
                        <Label 
                            col="1"
                            row="0"
                            color="#FFFFFF"
                            margin="8"
                            fontSize="20"
                            fontFamily="FontAwesome" 
                            textAlignment="right"
                            text="&#xf06e;"></Label>
                </GridLayout>
               

                <!-- observaciones -->
                <GridLayout
                            margin="0"
                            columns="12*" 
                            width="100%"
                            rows="*" 
                            padding="8"
                            verticalAlignment="center"
                            horizontalAlignment="left" 
                            backgroundColor="#DDDDDD">  
                            
                            <Label 
                                col="1" 
                                row="0" 
                                fontSize="16"
                                paddingLeft="5"
                                textAlignment="left"
                                fontWeight="400"
                                [text]="cliente.observaciones ? cliente.observaciones : 'NO POSEE OBSERVACIONES'" 
                                textWrap="true"></Label>

                </GridLayout>

            </StackLayout>
            
            </ScrollView>
            
            <StackLayout row="1" verticalAlignment="bottom" backgroundColor="#023141" ios:paddingTop="5" ios:paddingBottom="5">
                     <Button 
                        android:width="100%"
                        ios:width="80%"
                        ios:height="40"
                        ios:marginTop="10"
                        fontSize="18"
                        backgroundColor="#023141"
                        color="#FFFFFF"
                        (tap)="close()"  
                        text="VOLVER"></Button>
            </StackLayout>

    </GridLayout>

</GridLayout>