<GridLayout columns="auto, *" 
	padding="10"
	paddingTop="14"
	paddingBottom="14"
	ios:height="60"
	[backgroundColor]="isSelected ? '#F8F8F8' : '#FFFFFF'" 
	[color]="isSelected ? '#333' : '#333'" 
	(tap)="onNavItemTap(route)">
	    <Label col="0" [text]="icon" verticalAlignment="center" fontFamily="FontAwesome"></Label>
	    <Label col="1" [text]="title" paddingLeft="10"></Label>
</GridLayout>