<GridLayout
  rows="6*, 2*, 4*"
  backgroundColor="#393939" verticalAlignment="top" horizontalAlignment="center" height="100%" width="100%">

<StackLayout row="0" backgroundColor="#FFFFFF" verticalAlignment="top" horizontalAlignment="center" height="100%">


      <GridLayout 
                    columns="12*" 
                    rows="*"  
                    textAlignment="center"
                    backgroundColor="#023141" 
                    width="100%" 
                    height="42">
                     
                        <Label 
                            col="0" 
                            row="0" 
                            color="#FFFFFF"
                            margin="8" 
                            fontSize="20"
                            textAlignment="center"
                            fontWeigth="700"
                            text="AGREGAR PRODUCTO"></Label>
      </GridLayout>

        <StackLayout 
          borderTop="20" 
          borderColor="#393939"
          marginTop="10"
          marginBottom="20"
          backgroundColor="#FFFFFF">
                         
                         <Label
                              [text]="producto.nombre"
                              fontSize="18"
                              fontWeight="700"
                              color="#333"
                              textAlignment="center"
                              textWrap="true"></Label>
                         
                         <Label
                            [text]="'Unidad de venta: ' +producto.unidad_venta+ ' | Stock: ' + producto.disponible"
                            fontWeight="700"
                            fontSize="13"
                            color="#333"
                            textAlignment="center"
                            textWrap="true"></Label>
                         
                         <Label 
                           textWrap="true" 
                           [text]="'PRECIO: $' +producto.precio_con_descuento + ' | SUBTOTAL: $' +producto.subtotal_con_descuento" 
                           fontWeight="400"
                           color="#023141"
                           fontSize="14"
                           textAlignment="center"></Label>

        </StackLayout>
                

                <StackLayout 
                        height="1" backgroundColor="#dadada" marginTop="2" marginBottom="30"></StackLayout>

                <StackLayout
                    backgroundColor="#FFFFFF"
                    orientation="horizontal"
                    width="100%"
                    horizontalAlignment="center"
                    height="60"
                    margin="5"
                    padding="5">
                    
                    <StackLayout  
                      orientation="horizontal"
                      width="45%"
                      marginLeft="2">
                        <Label
                          verticalAlignment="center"
                          width="40%"
                          text="CANT: " 
                          textAlignment="left"></Label>
                        
                        <TextField #TFcantidad
                          type="number"
                          textAlignment="center"
                          keyboardType="number" 
                          width="60%" 
                          height="40"
                          fontSize="14"
                          backgroundColor="#dddddd"  
                          verticalAlignment="center"
                          returnKeyType="next"
                          (focus)="onFocus($event)"
                          (loaded)="focusFirst($event)"
                          (textChange)="onTextChangeCant(datos)" 
                          [(ngModel)]="datos.cantidad"></TextField>

                    </StackLayout>
                    
                    <StackLayout  
                      orientation="horizontal"  
                      width="45%" 
                      marginLeft="5">
                                
                                <Label  
                                    verticalAlignment="center"
                                    width="40%"
                                    text="DESC: %" 
                                    textAlignment="left"></Label>
                                
                                <TextField #TFdescuento
                                  type="number"
                                  textAlignment="center"
                                  keyboardType="number" 
                                  width="60%" 
                                  height="40"
                                  fontSize="14"
                                  backgroundColor="#dddddd"  
                                  verticalAlignment="center"
                                  returnKeyType="done" 
                                  (focus)="onFocus($event)" 
                                  (textChange)="onTextChangeDesc(datos)" 
                                  [(ngModel)]="datos.descuento"></TextField>

                    </StackLayout>
                </StackLayout>

</StackLayout>

  <StackLayout row="1" verticalAlignment="bottom" backgroundColor="#FFFFFF" ios:paddingTop="10" ios:paddingBottom="0">
    <StackLayout orientation="horizontal" verticalAlignment="center">
           <Button 
            ios:width="50%"
            ios:height="100%"
            ios:marginTop="10"
            fontSize="18"
            backgroundColor="#DADADA"
            color="#023141"
            (tap)="close()"  
            text="CANCELAR"></Button>

          
          <Button 
            ios:width="50%"
            ios:height="100%"
            ios:marginTop="10"
            fontSize="18"
            backgroundColor="#023141"
            color="#FFFFFF"
            (tap)="submit(datos)"  
            text="AGREGAR"></Button>       
     </StackLayout>
</StackLayout>

<StackLayout row="2" margin="0"> 
  <StackLayout orientation="horizontal" verticalAlignment="center" margin="0">
        <StackLayout height="100%" width="50%" backgroundColor="#DADADA"></StackLayout>
        <StackLayout height="100%" width="50%" backgroundColor="#023141"></StackLayout>
  </StackLayout>
</StackLayout>

<!-- <StackLayout row="1" verticalAlignment="bottom" backgroundColor="#023141" ios:paddingTop="5" ios:paddingBottom="5">
                     <Button 
                        android:width="100%"
                        ios:width="80%"
                        ios:height="40"
                        ios:marginTop="10"
                        fontSize="18"
                        backgroundColor="#023141"
                        color="#FFFFFF"
                        (tap)="close()"  
                        text="VOLVER"></Button> -->


</GridLayout>

