<StackLayout 
    margin="0"
    padding="0"
    width="100%"
    orientation="horizontal" 
    [backgroundColor]="color"
    [minHeight]="(cliente.dm_principal && cliente.dm_principal=='N') ? '40' : '80' "
    paddingTop="4"
    paddingBottom="4">
                    
                     <StackLayout
                        orientation="vertical"
                        width="10%"
                        horizontalAlignment="left"
                        verticalAlignment="center"
                        [visibility]="(cliente.dm_principal && cliente.dm_principal=='N') ? 'hidden' : 'visible' "
                        height="100%">
                            
                             <Label 
                                horizontalAlignment="center"
                                verticalAlignment="center"
                                fontSize="14"
                                fontFamily="FontAwesome" 
                                [visibility]="(cliente.pedidos_abiertos==0 && cliente.pedidos_cerrados==0) ? 'collapsed' : 'visible' "
                                [color]="(cliente.pedidos_abiertos>0)  ? '#ff4f4f':'#04ca6a'"
                                text="&#xf192;"></Label>

                            <Label 
                                horizontalAlignment="center"
                                verticalAlignment="bottom"
                                fontSize="12"
                                fontFamily="FontAwesome" 
                                [visibility]="(cliente.recibos_abiertos==0 && cliente.recibos_cerrados==0) ? 'collapsed' : 'visible' "
                                [color]="(cliente.recibos_abiertos>0)  ? '#ff4f4f':'#04ca6a'"
                                text="R"></Label>

                    </StackLayout>

                    <StackLayout 
                        orientation="vertical" 
                        horizontalAlignment="left"
                        verticalAlignment="center"
                        (tap)="tapping(cliente)" 
                        (longpress)="pressing(cliente)" 
                        width="70%"
                        height="100%">
                            
                            <Label 
                                color="#393939"
                                fontSize="16"
                                [visibility]="(cliente.dm_principal && cliente.dm_principal=='N') ? 'collapsed' : 'visible' "
                                textTransform="uppercase"
                                textAlignment="left"
                                [text]=" cliente.codigo_erp + ' | ' + cliente.nombre"  
                                textWrap="true"></Label>


                             <Label
                                [color]="(cliente.selected) ? '#71c5f7' : '#797979'"
                                fontSize="14"
                                marginTop="1"
                                textAlignment="left"
                                [text]="direccion"  
                                textWrap="true"></Label>

                    </StackLayout>

                    <StackLayout
                        [visibility]="(cliente.dm_principal && cliente.dm_principal=='N') ? 'collapsed' : 'visible' "
                        orientation="vertical"
                        horizontalAlignment="center"
                        verticalAlignment="center"
                        width="20%"  
                        height="100%"
                        (tap)="detalle(cliente)">
                                
                                <Label 
                                    horizontalAlignment="center"
                                    verticalAlignment="center"
                                    color="#393939"
                                    fontSize="18"
                                    fontFamily="FontAwesome" 
                                    text="&#xf142;"></Label>
                                    
                    </StackLayout>
</StackLayout>