<StackLayout 
                    margin="0"
                    width="100%"
                    orientation="horizontal" 
                    [backgroundColor]="color"
                    margin="0"
                    padding="0"
                    minHeight="80"
                    paddingBottom="4"
                    paddingTop="4">

                    
                    <StackLayout
                        orientation="vertical"
                        width="10%"
                        horizontalAlignment="left"
                        verticalAlignment="center"
                        height="100%">
                            
                            <Label 
                                fontSize="14"
                                fontFamily="FontAwesome" 
                                marginTop="4"
                                text=""></Label>

                    </StackLayout>

                    <StackLayout 
                        orientation="vertical" 
                        horizontalAlignment="left"
                        verticalAlignment="center"
                        (tap)="tapping(cliente)" 
                        (longpress)="pressing(cliente)" 
                        width="70%"
                        height="100%">
                            
                            <Label 
                                color="#393939"
                                fontSize="16"
                                textTransform="uppercase"
                                textAlignment="left"
                                [text]=" cliente.codigo_erp + ' | ' + cliente.nombre"  
                                textWrap="true"></Label>


                             <Label
                                color="#797979"
                                fontSize="14"
                                marginTop="1"
                                textAlignment="left"
                                [text]="direccion"  
                                textWrap="true"></Label>

                    </StackLayout>

                    <StackLayout
                        orientation="vertical"
                        horizontalAlignment="center"
                        verticalAlignment="center"
                        width="20%"  
                        height="100%"
                        (tap)="detalle(cliente)">
                        
                        <Label 
                            horizontalAlignment="center"
                            verticalAlignment="center"
                            color="#393939"
                            fontSize="18"
                            fontFamily="FontAwesome" 
                            text="&#xf142;"></Label>
                            
                    </StackLayout>

</StackLayout>