<GridLayout rows='11*,1*' columns='*' width="100%" background="#FFFFFF" (pan)="onPan($event)" (pinch)="onPinch($event)" (doubleTap)="onDoubleTap($event)"> 

  <WebImage #webimage
            stretch="aspectFit" 
            row="0"
            col="0"
            padding="10"
            margin="10"
            [src]="url"></WebImage>

 <StackLayout row="1" verticalAlignment="bottom" backgroundColor="#023141" ios:paddingTop="5" ios:paddingBottom="5">
                     <Button 
                        android:width="100%"
                        ios:width="80%"
                        ios:height="40"
                        ios:marginTop="10"
                        fontSize="18"
                        backgroundColor="#023141"
                        color="#FFFFFF"
                        (tap)="close()"  
                        text="VOLVER"></Button>
</StackLayout>

</GridLayout>