	<ActionBar 
		backgroundColor="#FFFFFF"
		borderColor="#FFFFFF"
		color="#FFFFFF"
		borderWidth="1"
		title="COLEGIO BERTRAND RUSSELL" 
		class="action-bar"></ActionBar>

	<GridLayout> 
		<web-view row="0" #webView></web-view>	
		<ActivityIndicator row="1" width="50%" color="#393939" [busy]="isLoading"></ActivityIndicator>
	</GridLayout>
