

<GridLayout #drawer
    android:rows="150, *, 80"
    ios:rows="180, *, 100"
    backgroundColor="#FFFFFF">

    <StackLayout
        row="0"
        height="100%"
        android:paddingTop="40"
        ios:paddingTop="0"
        paddingLeft="13"
        ios:paddingBottom="30"
        android:paddingBottom="10"
        verticalAlignment="bottom"
        color="#FFFFFF"
        backgroundColor="#023141">
        
        <Label
            marginTop="10"
            color="#71c5f7"
            fontSize="14"
            textWrap="true" 
            [text]="empresa.app"></Label>
        <Label
            marginTop="0"
            color="#71c5f7"
            marginBottom="0"
            fontSize="7"
            textWrap="true" 
            [text]="empresa.app_subtitle"></Label>

        <Label
            marginTop="5"
            fontSize="22"
            textWrap="true" 
            [text]="empresa.nombre"></Label>

        <Label
            marginTop="0"
            fontSize="10"
            textWrap="true" 
            [text]="email"></Label>

    </StackLayout>
    
    <ScrollView 
        row="1">
        <StackLayout 
            margin="0">
 
            <Button
                android:margin="0"
                ios:height="50"
                fontSize="15"
                paddingTop="5"
                paddingBottom="5"
                paddingLeft="5"
                marginTop="12"
                marginLeft="4"
                marginRight="4"
                borderRadius="4"
                marginBottom="12"
                backgroundColor="#023141"
                color="#FFFFFF"
                text=" &#xf0ed;  ACTUALIZAR DATOS" 
                textAlignment="left"
                fontFamily="FontAwesome" 
                (tap)="forzarSync()"></Button>


            <MyDrawerItem 
                title="INICIO" 
                route="/home" 
                icon="&#xf015;" 
                [isSelected]="isPageSelected('/home')"></MyDrawerItem>


            <MyDrawerItem 
                title="REPORTES" 
                route="/reportes" 
                icon="&#xf1fe;" 
                [isSelected]="isPageSelected('/reportes')"></MyDrawerItem>
            
            <MyDrawerItem 
                title="PREFERENCIAS" 
                route="/preferencias" 
                icon="&#xf013;" 
                [isSelected]="isPageSelected('/preferencias')"></MyDrawerItem>


      
            
            <GridLayout 
                columns="auto, *" 
                rows="40"
                padding="10"
                class="item"
                verticalAlignment="center" 
                (tap)="cerrarSesion()">
                        <Label verticalAlignment="center" row="0" color="#333333" fontSize="16" col="0" text="&#xf08b;" verticalAlignment="center" fontFamily="FontAwesome"></Label>
                        <Label verticalAlignment="center" row="0" color="#333333" fontSize="16" col="1" text="CERRAR SESIÓN" paddingLeft="10"></Label>
                    
            </GridLayout>

        
             <StackLayout margin="10" borderColor="#dddddd" borderTopWidth="1" borderBottomWidth="1">
                 
                 <Label [text]="empresa.descripcion" textWrap="true" textAlignment="left" marginBottom="4"  [visibility]="empresa.descripcion ? 'visible': 'collapsed' "></Label>
                 
                 <StackLayout (tap)="callNumber(empresa.telefono_1)"  marginTop="8" paddingTop="6" paddingBottom="6"  [visibility]="empresa.telefono_1 ? 'visible': 'collapsed' ">
                     <Label fontWeight="400" fontSize="16" color="#333" textAlignment="left" text="Teléfono"></Label>
                     <Label marginLeft="10" fontWeight="400" fontSize="14" color="#444444" textAlignment="left" [text]="empresa.telefono_1"></Label>
                 </StackLayout>
                
                <StackLayout (tap)="enviarMail(empresa.email_1)"  marginTop="8"  paddingTop="6" paddingBottom="6" [visibility]="empresa.email_1 ? 'visible': 'collapsed' ">
                    <Label fontWeight="400" fontSize="16" color="#333" textAlignment="left" text="Email"></Label>
                    <Label marginLeft="10" fontWeight="400" fontSize="14" color="#444444" textAlignment="left" [text]="empresa.email_1"></Label>
                </StackLayout>
                
                <StackLayout  (tap)="openNavigation()" marginTop="8"  paddingTop="6" paddingBottom="6"  [visibility]="empresa.direccion ? 'visible': 'collapsed' ">
                    <Label fontWeight="400" fontSize="16" color="#333" textAlignment="left" text="Dirección"></Label>
                    <Label marginLeft="10" fontWeight="400" fontSize="14" color="#444444" textWrap="true" textAlignment="left" [text]="empresa.direccion"></Label>
                </StackLayout>

                
                
            </StackLayout>

</StackLayout>
        
    </ScrollView>


         <StackLayout row="2" backgroundColor="#393939" verticalAlignment="bottom" paddingTop="10" marginTop="5" bottom="0">
            <Label 
                    verticalAlignment="bottom"
                    [text]="'Versión '+version+'.'"
                    textAlignment="left"
                    fontSize="12"
                    color="#FFFFFF"
                    textWrap="true"
                    width="100%"
                    padding="6"
                    paddingBottom="2"></Label>

            <Label 
                    verticalAlignment="bottom"
                    (tap)="ViewToUrl('http://www.meemba.com.ar/')"
                    text="Desarrollado por Meemba Software SRL."
                    textAlignment="left"
                    fontSize="12"
                    color="#FFFFFF"
                    textWrap="true"
                    width="100%"
                    padding="6"
                    paddingTop="2"></Label>
        </StackLayout>



</GridLayout>