<ActionBar 
    backgroundColor="#023141" color="#ffffff">
    
    <NavigationButton
        ios:visibility="collapsed"
        icon="res://menu" 
        (tap)="onDrawerButtonTap()"></NavigationButton>
    
    <ActionItem
        icon="res://menu"
        android:visibility="collapsed"
        (tap)="onDrawerButtonTap()"
        ios.position="left"></ActionItem>
        
       <StackLayout orientation="vertical"
        ios:horizontalAlignment="left"
        android:horizontalAlignment="left"
        (tap)="limpiarBusqueda()">
            <Label  
                    [text]="titulo.linea_1"
                    fontSize="14"
                    textTransform="uppercase"
                    textAlignment="left"
                    textWrap="true"></Label>
            
            <Label 
                    [text]="titulo.linea_2"
                    fontSize="13"
                    textAlignment="left"
                    textWrap="true"></Label>
            <Label 
                    [text]="titulo.linea_3"
                    fontSize="12"
                    textAlignment="left"
                    textWrap="true"></Label>
      </StackLayout>


    <!-- filtros -->
     <ActionItem
      ios.position="right"
      (tap)="colorMap()"
      icon="res://ic_color_white"
      android.position="actionBar"></ActionItem>

     <ActionItem
      ios.position="right"
      (tap)="alterMap()"
      icon="res://ic_map_white"
      android.position="actionBar"></ActionItem>
    
    <ActionItem
      ios.position="right"
      (tap)="openViewFilter()"
      [icon]="(filtrera && filtrera.activo) ? 'res://ic_filter_color' : 'res://ic_filter_white'"
      android.position="actionBar"></ActionItem>       
    
</ActionBar>

<GridLayout  
    backgroundColor="#7b7b7b"
    ios:rows="auto, 40, *"
    android:rows="auto, 40, *"
    height="100%"
    width="100%">
    
    <ContentView
          row="0"
          android:height="220"
          ios:height="340"
          android:width="100%"
          ios:width="100%"
          [visibility]="(!hiddenMap) ? 'visible' : 'collapsed' ">

              <Mapbox #mapbox
                  (mapReady)="onMapReady($event)"
                  accessToken="sk.eyJ1Ijoid2VibWVlbWJhIiwiYSI6ImNqdzJhMnlwMjAxM3A0NGw5bndzdngwNnIifQ.e1_wg1tA9qfAtgJSwK6plA"
                  [mapStyle]="mapConfig.style"
                  [latitude]="mapConfig.lat"
                  [longitude]="mapConfig.long"
                  [zoomLevel]="mapConfig.zoomLevel"
                  [delay]="mapConfig.delay"
                  [showUserLocation]="mapConfig.userlocation"
                  [hideLogo]="mapConfig.hideLogo"
                  [hideAttribution]="mapConfig.hideAttribution"
                  [hideCompass]="mapConfig.hideCompass"
                  [disableZoom]="mapConfig.disableZoom"
                  [disableRotation]="mapConfig.disableRotation"
                  [disableScroll]="mapConfig.disableScroll"
                  [disableTilt]="mapConfig.disableTilt"></Mapbox>
    </ContentView>

    <SearchBar
                  row="1"
                  width="100%"
                  height="100%"
                  padding="4"
                  borderWidthBottom="2"
                  borderColor="#393939"
                  horizontalAlignment="center"
                  verticalAlignment="top"
                  [text]="searchPhrase"
                  (clear)="searchBar_onClear($event)"
                  (submit)="searchBar_onSubmit($event)"
                  (textChange)="searchBar_onTextChange($event)" 
                  (loaded)="searchBar_Loaded($event)"
                  color="white" 
                  backgroundColor="#7b7b7b"
                  textFieldBackgroundColor="#7b7b7b" 
                  textFieldHintColor="#ededed"></SearchBar>
          

   <RadListView #radListClients
                row="2"
                itemWidth="100%"
                itemHeight="100px"
                backgroundColor="#FFFFFF"
                scrollDirection="Vertical"
                [items]="dataItems" 
                loadOnDemandMode="Manual" 
                [itemTemplateSelector]="templateSelector"
                (loadMoreDataRequested)="onLoadMoreClientsRequested($event)">
                
                <ng-template tkListLoadOnDemandTemplate>   
                    <StackLayout backgroundColor="#FFFFFF" padding="20">
                        <Label color="#dadada" text="Desplegando clientes" horizontalAlignment="center" verticalAlignment="center"></Label>
                    </StackLayout>
                </ng-template>

                <ng-template tkListItemTemplate let-item="item" tkTemplateKey="mark" let-i="index">
                    <StackLayout>
                    <MarkComponent 
                        [color]="(i==position) ? '#aedefb':'#FFFFFF'"
                        [cliente]="item"
                        (serchOnMap)="searchClientMap(i, $event)"
                        (openCliente)="goPedidos(i, $event)"
                        (openDetalle)="openDetalle(i, $event)"></MarkComponent></StackLayout>
                </ng-template>

        </RadListView>
                  


                   <FAB 
                     row="0"
                     [visibility]="(!hiddenMap) ? 'visible' : 'collapsed' "
                     (tap)="flagMarkers()"
                     id="fabButton"
                     icon="res://ic_flag_white"
                     rippleColor="#71c5f7"
                     [backgroundColor]="(multipleFlags) ? '#71c5f7' : '#000000'"
                     horizontalAlignment="left"
                     verticalAlignment="bottom"
                     height="40"
                     android:width="80"
                     ios:width="90"
                     margin="5"></FAB>  

                   <FAB 
                     row="0"
                     [visibility]="(!hiddenMap && multipleFlags) ? 'visible' : 'collapsed' "
                     (tap)="showDirectionsTo(routes)"
                     id="fabButton"
                     icon="res://ic_ok_white"
                     rippleColor="#71c5f7"
                     backgroundColor="#71c5f7"
                     horizontalAlignment="left"
                     verticalAlignment="bottom"
                     height="40"
                     width="40"
                     marginLeft="100"
                     margin="5"></FAB>   
 

                  <FAB 
                     row="0"
                    [visibility]="(!hiddenMap) ? 'visible' : 'collapsed' "
                     (tap)="zoomOnMap(false)"
                     id="fabButton"
                     icon="res://ic_zoomin_white"
                     rippleColor="#71c5f7"
                     backgroundColor="#000000"
                     horizontalAlignment="right"
                     verticalAlignment="top"
                     height="40"
                     width="40"
                     marginRight="50"
                     margin="5"></FAB>   

                  <FAB 
                     row="0"
                    [visibility]="(!hiddenMap) ? 'visible' : 'collapsed' "
                     (tap)="zoomOnMap(true)"
                     id="fabButton"
                     icon="res://ic_zoomax_white"
                     rippleColor="#71c5f7"
                     backgroundColor="#000000"
                     horizontalAlignment="right"
                     verticalAlignment="top"
                     height="40"
                     width="40"
                     margin="5"></FAB>   
                
                  <FAB 
                     row="0"
                    [visibility]="(!hiddenMap) ? 'visible' : 'collapsed' "
                     (tap)="centerMeMap()"
                     id="fabButton"
                     icon="res://ic_gps_white"
                     rippleColor="#71c5f7"
                     backgroundColor="#000000"
                     horizontalAlignment="right"
                     verticalAlignment="bottom"
                     height="40"
                     width="40"
                     margin="5"></FAB>   

                 <FAB 
                     row="2"
                     (tap)="volverHome()"
                     id="fabButton"
                     icon="res://ic_home_white"
                     rippleColor="#ededed"
                     backgroundColor="#71c5f7"
                     horizontalAlignment="left"
                     verticalAlignment="bottom"
                     height="50"
                     width="50"
                     margin="15"
                     color="#ffffff"
                     hideOnSwipeOfView="listPedidos"
                     swipeAnimation="slideLeft"></FAB>

                <FAB
                    [visibility]="(agregarCliente) ? 'visible' : 'collapsed' "
                    row="2"
                    (tap)="addClient()"
                    id="fabButton"
                    icon="res://ic_more_white"
                    rippleColor="#ededed"
                    backgroundColor="#71c5f7"
                    horizontalAlignment="right"
                    verticalAlignment="bottom"
                    height="50"
                    width="50"
                    margin="15"
                    color="#ffffff"
                    hideOnSwipeOfView="listPedidos"
                    swipeAnimation="slideRight"></FAB>
        
        
                <ActivityIndicator #activityIndicator
                    android:color="#017294"
                    ios:color="#017294"
                    rowSpan="3"
                    [busy]="activity" 
                    verticalAlignment="center"
                    android:width="100" 
                    android:height="100"></ActivityIndicator>

    </GridLayout>
