<FlexboxLayout
    width="100%"
    [flexDirection]="(viewActive == 'list') ? 'row' : 'column' "
    horizontalAlignment="center">
                                                                     
     <StackLayout
        flexGrow="1"
        padding="2"
        marginLeft="2"
        marginRight="2"
        marginBottom="0"
        marginTop="2"
        [width]="(viewActive == 'list') ? '25%' : (viewActive == 'grid') ? '50' : '200px' "
        [height]="(viewActive == 'list') ? '100%' : (viewActive == 'grid') ? '800px' : '400px' "
        borderWidth="1"
        borderColor="#DDDDDD"
        (longpress)="abrirImagen(producto.codigo_erp, producto.foto_big)"
        (tap)="abrirPopDetalle(producto.codigo_erp, producto.foto_medium)" 
        verticalAlignment="center"
        horizontalAlignment="center">
            
            <Label
                  fontSize="16"
                  fontWeight="700"
                  color="#DDDDDD"
                  textAlignment="center"
                  textWrap="true"
                  [visibility]="(producto.sin_foto == 'S' || !mostrarFoto) ? 'visible' : 'collapsed' "
                  text="SIN FOTO"></Label>
            
            <WebImage 
                width="100"
                height="100"
                loadMode="async" 
                decodeWidth="300" 
                decodeHeight="300" 
                stretch="aspectFill"
                [visibility]="(producto.sin_foto != 'S' && mostrarFoto) ? 'visible' : 'collapsed' "
                [src]="producto.foto_thumbnail"></WebImage>

        </StackLayout>                             

                            <StackLayout
                                margin="1.5"
                                borderWidth="1"
                                borderColor="#ededed"
                                width="85%"
                                flexGrow="2" 
                                [backgroundColor]="(viewActive != 'list') ? '#f3f3f3'  : '#FFFFFF' "
                                (tap)="abrirPopCantidad(producto)"
                                (longPress)="borrarProducto(producto)"
                                verticalAlignment="bottom">
                                 
                                <Label 
                                    marginTop="8"
                                    fontSize="10"
                                    textWrap="true"
                                    color="#393939"
                                    [textAlignment]="(viewActive == 'list') ? 'left' : 'center' "
                                    [text]="'#'+producto.codigo_erp"></Label>

                                    <Label 
                                        fontWeight="700"
                                        color="#333"
                                        fontSize="18"
                                        textWrap="true"
                                        marginBottom="10"
                                        [text]="producto.nombre" 
                                        [textAlignment]="(viewActive == 'list') ? 'left' : 'center' "
                                        [fontSize]="(viewActive == 'list') ? '18' : (viewActive == 'grid') ? '20' : '14' "></Label>
                                    

                                    <Label 
                                            fontSize="20"
                                            fontWeight="700"
                                            textWrap="true"
                                            color="#93dcca"
                                            [textAlignment]="(viewActive == 'list') ? 'left' : 'center' "
                                            [text]="'$ '+producto.precio_con_descuento"></Label>

                                    

                                     <Label 
                                            fontSize="14"
                                            textWrap="true"
                                            color="#393939"
                                            marginBottom="10"
                                            [textAlignment]="(viewActive == 'list') ? 'left' : 'center' "
                                            [text]="'STOCK ('+ producto.disponible+') '+' -  DESC. '+ producto.descuento+ '%' "></Label>
                                    
                                  
                                
                                        <Label 
                                            textWrap="true" 
                                            fontSize="18"
                                            [backgroundColor]="(producto.cantidad>0) ? '#93dcca' : '#f3f3f3' "
                                            [color]="(producto.cantidad>0) ? '#FFFFFF' : '#393939' "
                                            [text]="(viewActive == 'list') ? 'CANT/SUBT:'+'('+producto.cantidad +') $ ' +producto.subtotal_con_descuento+'' :  ('('+producto.cantidad +') $ ' +producto.subtotal_con_descuento+'') "
                                            [textAlignment]="(viewActive == 'list') ? 'left' : 'center' "></Label>
                            
                            </StackLayout>
</FlexboxLayout>