<GridLayout  
    rows="auto *"
    columns="*"
    height="100%"
    backgroundColor="#DDDDDD">
        
        <ScrollView 
            row="0"
            width="100%" 
            height="88%"
            orientation="vertical">

            <StackLayout 
                margin="0"
                horizontalAlignment="center" 
                verticalAlignment="top" 
                backgroundColor="#DDDDDD">
            


               <!-- SECCION DATOS GENERALES -->
                <GridLayout 
                    columns="8*,2*" 
                    rows="*"  
                    backgroundColor="#023141" 
                    width="100%" 
                    height="42">
                     
                        <Label 
                            col="0" 
                            row="0" 
                            color="#FFFFFF"
                            margin="8" 
                            fontSize="20"
                            textAlignment="left"
                            fontWeigth="700"
                            text="CABECERA DEL PEDIDO"></Label>

                </GridLayout>

            <StackLayout 
                padding="15" 
                backgroundColor="#FFFFFF">
                
                <StackLayout> 
                       <Label  
                        backgroundColor="#023141" 
                        color="#FFFFFF"
                        padding="5"
                        width="100%"
                        horizontalAlignment="left"
                        fontSize="16" 
                        text="FECHA DE ENTREGA"></Label>
                </StackLayout>

                <StackLayout
                    orientation="horizontal"
                    horizontalAlignment="left" 
                    height="800px"> 
                           <RadCalendar #myCalendar 
                                height="95%" 
                                selectionMode="Single" 
                                [eventSource]="eventSource" 
                                (dateSelected)="onDateSelected($event)"></RadCalendar>
                </StackLayout>

                <StackLayout> 
                       <Label  
                        backgroundColor="#023141" 
                        color="#FFFFFF"
                        padding="5"
                        width="100%"
                        horizontalAlignment="left"
                        fontSize="16" 
                        text="HORARIO DE ENTREGA"></Label>
                </StackLayout>

                <StackLayout
                    orientation="horizontal">

                      <StackLayout
                        margin="8"
                        width="18%">
                                <Label
                                    text="DESDE"
                                    font-size="12"
                                    color="#bababa"
                                    marginTop="2"
                                    fontWeight="700"
                                    textWrap="true"></Label>
                                <TextField  
                                    backgroundColor="#f3f3f3"  
                                    isEnabled="true" 
                                    keyboardType="number" 
                                    autocapitalizationType="none" 
                                    autocorrect="false" 
                                    borderWidth="1"
                                    borderColor="#e0e0e0"
                                    borderRadius="2"
                                    padding="10"
                                    (focus)="onFocus($event)" 
                                    [(ngModel)]="current.desde_hs" 
                                    returnKeyType="next"></TextField>
                    </StackLayout>

                      <StackLayout margin="8" width="18%">
                                <Label
                                    text="HASTA"
                                    font-size="12"
                                    color="#bababa"
                                    marginTop="2"
                                    fontWeight="700"
                                    textWrap="true"></Label>
                                <TextField 
                                    backgroundColor="#f3f3f3"
                                    isEnabled="true"  
                                    keyboardType="number" 
                                    autocapitalizationType="none"
                                    autocorrect="false" 
                                    borderWidth="1"
                                    borderColor="#e0e0e0"
                                    borderRadius="2"
                                    padding="10"
                                    (focus)="onFocus($event)" 
                                    [(ngModel)]="current.hasta_hs" 
                                    returnKeyType="next"></TextField>
                    </StackLayout>
                </StackLayout>

                <StackLayout> 
                       <Label  
                        backgroundColor="#023141" 
                        color="#FFFFFF"
                        padding="5"
                        width="100%"
                        horizontalAlignment="left"
                        fontSize="16" 
                        text="DESCUENTO GLOBAL DEL PEDIDO"></Label>
                </StackLayout>

                   <StackLayout orientation="horizontal" verticalAlignment="center"> 
                    <StackLayout margin="8" width="50%" horizontalAlignment="center">
                            <Label 
                                text="DESCUENTO" 
                                class="label text-left font-weight-bold m-b-2"  
                                textWrap="true"></Label>
                                <TextField  
                                    backgroundColor="#f3f3f3" 
                                    isEnabled="true"  
                                    width="80%"
                                    textAlignment="center"
                                    keyboardType="number" 
                                    autocapitalizationType="none" 
                                    autocorrect="false" 
                                    borderWidth="1"
                                    borderColor="#e0e0e0"
                                    borderRadius="2"
                                    padding="10"
                                    (focus)="onFocus($event)" 
                                    [(ngModel)]="current.descuento" 
                                    returnKeyType="next"></TextField>
                    </StackLayout>
                    <StackLayout margin="4" width="50%" horizontalAlignment="center" verticalAlignment="center">
                         <Label 
                                text="El descuento se aplicara sobre el total de su pedido." 
                                textAlignment="left"
                                class="label text-left"  
                                textWrap="true"></Label>
                    </StackLayout>

                </StackLayout>
                
                <StackLayout> 
                       <Label  
                        backgroundColor="#023141" 
                        color="#FFFFFF"
                        padding="5"
                        width="100%"
                        horizontalAlignment="left"
                        fontSize="16" 
                        text="METODO DE TRANSPORTE & PAGO"></Label>
                </StackLayout>
                

                   <StackLayout orientation="horizontal" verticalAlignment="center"> 
                      <StackLayout margin="8" width="50%" horizontalAlignment="center"> 
                            <Label 
                                text="FORMA DE TRANSPORTE" 
                                class="label  text-center  font-weight-bold"  
                                textWrap="false"></Label>
                            <Button 
                                width="98%" 
                                margin="0" 
                                border="0" 
                                backgroundColor="#f3f3f3" 
                                color="#393939" 
                                height="110px" 
                                marginTop="0"
                                marginRight="4"
                                marginLeft="4"
                                color="#333"
                                boxShadow="none"
                                margin="0px"
                                background="#f3f3f3"
                                (tap)="f_transporte()"  
                                [text]="current.transporte_manual"></Button>    
                    </StackLayout>
                    
                    <StackLayout margin="8" width="50%" horizontalAlignment="center"> 
                            <Label 
                                text="FORMA DE PAGO" 
                                class="label  text-center  font-weight-bold"  
                                textWrap="false"></Label>
                            <Button 
                                width="98%" 
                                margin="0" 
                                border="0" 
                                backgroundColor="#f3f3f3" 
                                color="#393939" 
                                height="110px" 
                                marginTop="0"
                                marginRight="4"
                                marginLeft="4"
                                color="#333"
                                boxShadow="none"
                                margin="0px"
                                background="#f3f3f3"
                                (tap)="f_pago()"  
                                [text]="current.forma_pago"></Button>    
                    </StackLayout>

                </StackLayout>

               <StackLayout> 
                       <Label  
                        backgroundColor="#023141" 
                        color="#FFFFFF"
                        padding="5"
                        width="100%"
                        horizontalAlignment="left"
                        fontSize="16" 
                        text="OBSERVACIONES"></Label>
                </StackLayout>


                 
                    <StackLayout margin="8" horizontalAlignment="center">
                        <TextField 
                            width="100%" 
                            height="320px" 
                            verticalAlignment="top"
                            horizontalAlignment="left"
                            backgroundColor="#f3f3f3" 
                            isEnabled="true" 
                            keyboardType="email"
                            autocapitalizationType="none"
                            autocorrect="false" 
                            borderWidth="1"
                            borderColor="#e0e0e0"
                            borderRadius="2"
                            padding="16"
                            padding="6" 
                            [(ngModel)]="current.observaciones"></TextField>
                    </StackLayout>
                

           
              </StackLayout>
            
            </StackLayout>
            
            </ScrollView>

            <StackLayout orientation="horizontal" row="1" android:minHeight="160" ios:minHeight="80"  verticalAlignment="bottom" backgroundColor="#393939">
                   
                     <Button 
                        android:width="50%"
                        android:height="100%"
                        ios:width="50%"
                        ios:height="100%"
                        ios:marginTop="10"
                        fontSize="16"
                        borderWidth="1"
                        borderColor="#023141"
                        backgroundColor="#023141"
                        color="#FFFFFF"
                        (tap)="close()"  
                        text="CANCELAR"></Button>

                     <Button 
                        android:width="50%"
                        android:height="100%"
                        ios:width="50%"
                        ios:height="100%"
                        ios:marginTop="10"
                        fontSize="16"
                        borderWidth="1"
                        borderColor="#023141"
                        backgroundColor="#FFFFFF"
                        color="#023141"
                        (tap)="submit()"  
                        text="APLICAR"></Button>

            </StackLayout>

</GridLayout>