<ActionBar class="futura action-bar" title="empresap" fontSize="14" fontWeight="700" backgroundColor="#4b6ca5">
  
  <GridLayout  rows="*, *" columns="125, *" orientation="horizontal">
    
    <Image  
            row="0"
            col="0"
            opacity="0.8"
            height="25"
            horizontalAlignment="center"
            verticalAlignment="center"
            src="~/assets/base/logo-secundario.png"
            stretch="aspectFit"></Image>
	
	<Label
		row="1"
		col="0"
		fontWeight="700"
		fontSize="12"
		color="#FFFFFF"
		class="futura"
		horizontalAlignment="center"
		[text]=" 'app.slogan' | L"
		textWrap="true"></Label>
	

	<Label
		row="0"
		rowSpan="2"
		col="1"
		colSpan="2"
		marginLeft="5"
		fontWeight="700"
		fontSize="14"
		color="#FFFFFF"
		class="futura"
		horizontalAlignment="left"
		verticalAlignment="center"
		borderLeftWidth="1"
		marginLeft="10"
		paddingLeft="5"
		paddingTop="5"
		paddingBottom="5"
		borderColor="#dadada"
		[text]="'select_store.title' | L"
		textWrap="true"></Label>


  </GridLayout>
</ActionBar>

<GridLayout 
	class="page page-background" rows="150, 60, *, 50, 50" verticalAlignment="bottom"  height="100%">

	
	<GridLayout rows="25, 40" row="1" borderTopWidth="1" borderColor="#95ba65" backgroundColor="#FFFFFF" opacity="0.9">

		<Label
			row="0"
			color="#4b6ca5" 
			class="futura-bold"
			fontSize="14"
			marginTop="0"
			marginLeft="10"
			marginBottom="0"
			[text]="'select_store.subtitle_2' | L"
			fontWeight="500"
			textWrap="true"></Label>

		<ScrollView orientation="horizontal" row="1" scrollBarIndicatorVisible="false">
			<StackLayout row="1" orientation="horizontal"> 
		                        <Button
		                            *ngFor="let f of arrayFiltros"
		                            opacity="1"
		                            margin="0"
		                            [text]="f.label"
		                            [color]="(f.active) ? '#FFFFFF' : '#4b6ca5'"
		                            [backgroundColor]="(f.active) ? '#4b6ca5' : '#FFFFFF'"
		                            fontSize="10.5"
		                            (tap)="toggleFilter(f)"
		                            class="futura"></Button>
			</StackLayout>
		</ScrollView>
	</GridLayout>

            

	<GridLayout rows="25, *" row="2" backgroundColor="#FFFFFF" opacity="1">

		<Label
			row="0"
			color="#4b6ca5" 
			class="futura-bold"
			fontSize="14"
			marginLeft="10"
			marginBottom="0"
			[text]="'select_store.subtitle_3' | L"
			fontWeight="500"
			textWrap="true"></Label>

		<RadListView
				row="1"
				width="100%"
				height="100%"
				minHeight="100"
				margin="0"
				padding="0"
				borderRadius="30"
				[items]="dataStore">
						<ng-template tkListItemTemplate let-item="item">
						                	<Label
						                		(tap)="selectStore(item)"
						                		height="40"
						                		width="100%"
						                		padding="10"
												[color]="(item.selected) ? '#FFFFFF' : '#393939' " 
												[backgroundColor]="(item.selected) ? '#4b6ca5' : '#FFFFFF' "
												fontSize="14"
												[text]="item.direccion"
												fontWeight="500"
												horizontalAlignment="left"
												textWrap="true"></Label>
											
					    </ng-template>
		</RadListView>	

	</GridLayout>

			

        <GridLayout row="3"> 

                     <Button
                            opacity="1"
                            width="80%"
                            color="#FFFFFF"
                            height="40"
                            borderRadius="10" 
                            [text]="'select_store.go' | L"
                            (tap)="confirmSelectStore()"
                            [backgroundColor]="(isStoreSelected) ? '#95ba65': '#a3a3a3'"
                            verticalAlignment="bottom"
                            horizontalAlignment="center"
                            fontWeight="900"
                            class="futura"
                            fontSize="14"></Button>
		</GridLayout>


		<StackLayout
			row="4" 
			height="auto"
			verticalAlignment="center"
			height="auto"
			backgroundColor="#FFFFFF" 
			opacity="0.8">
				
					<Label opacity="1" row="0" col="0" class="futura" fontSize="16" [text]=" isregister ? ('select_store.back' | L) : ('select_store.back_' | L)" (tap)="navigateToEditDirection()"  padding="8" textAlignment="center" color="#393939" textWrap="true"></Label>


		</StackLayout>		
		


		<Absolutelayout row="0" [rowSpan]="(isBigMap) ? '3': '0' ">
		
			<ContentView
						width="100%"
						height="100%"
						top="0"
						left="0"
						padding="0"
						margin="0"
						verticalAlignment="top">

			              <Mapbox #mapbox
			                  (mapReady)="onMapReady($event)"
			                  accessToken="sk.eyJ1Ijoid2VibWVlbWJhIiwiYSI6ImNrMG8zNmo5MDA2ajUzbG1kczgydDlvYmIifQ.1acS_GD7SnLjOdD6Nv0tzw"
			                  mapStyle="light"
					          latitude="-34.604410"
					          longitude="-58.380273"
					          zoomLevel="12"
					          showUserLocation="false"
						      disableZoom="false"
						      disableRotation="false"
						      disableScroll="false"
						      disableTilt="false"></Mapbox>
			</ContentView>

		   	<Button
				margin="0"
				padding="3"
				class="futura"
				fontSize="10"
				color="#FFFFFF"
				backgroundColor="#393939"
				margin="5"
				borderRadius="15"
				paddingTop="5"
				paddingBottom="5"
				height="30"
				(tap)="changeMap()"
				[text]="(isBigMap) ? 'volver atras' : 'Utilizar mapa' "></Button>

		</Absolutelayout>

		<GridLayout
					row="0"
					rows="20, 14, 14, 14, 14" 
					columns="3*, 9*"
					height="80" 
					margin="5"
					borderWidth="1"
					borderRadius="10"
					backgroundColor="#FFFFFF"
					opacity="1"
					verticalAlignment="bottom"
					borderColor="#dadada"
					width="auto"
					[visibility]="(isSolaped) ? 'visible':'collapsed' ">  
                    <!-- line one -->
                    <Image
                        horizontalAlignment="center"
                        verticalAlignment="center"
                        row="0"
                        rowSpan="4"
                        col="0"
                        src="~/assets/select_store/store.png"
                        stretch="aspectFit"></Image>

                    <Label
                        row="0"
                        col="1"
                        marginLeft="4"
                        color="#000" 
                        class="futura-bold text-left"
                        fontSize="16"
                        [text]="selectedStore.alias"
                        fontWeight="500"
                        verticalAlignment="top"
                        horizontalAlignment="left"
                        marginBottom="5"
                        textWrap="true"></Label>
                    
                    <Label
                        row="1"
                        col="1"
                        marginLeft="4"
                        color="#c2c2c2" 
                        class="futura text-left"
                        fontSize="12"
                        [text]="selectedStore.direccion"
                        fontWeight="500"
                        verticalAlignment="top"
                        horizontalAlignment="left"
                        textWrap="true"></Label>

                    <Label
                        row="2"
                        col="1"
                        marginLeft="4"
                        color="#c2c2c2" 
                        class="futura text-left"
                        fontSize="12"
                        [text]="selectedStore.horarios"
                        fontWeight="500"
                        verticalAlignment="top"
                        horizontalAlignment="left"
                        textWrap="true"></Label>
                    <Label
                        row="3"
                        col="1"
                        marginLeft="4"
                        color="#c2c2c2" 
                        class="futura text-left"
                        fontSize="12"
                        [text]="selectedStore.observacion"
                        fontWeight="500"
                        verticalAlignment="top"
                        horizontalAlignment="left"
                        textWrap="true"></Label>

	    			<Label
                        row="4"
                        col="1"
                        marginLeft="4"
                        color="#c2c2c2" 
                        class="futura text-left"
                        fontSize="12"
                        fontWeight="500"
                        verticalAlignment="top"
                        horizontalAlignment="left"
                        textWrap="true">
                        	<FormattedString>
				        		<Span *ngFor="let p of selectedStore.medios_de_pago" [text]="p+','"></Span>
				    		</FormattedString>
                        </Label>


        </GridLayout>
		


		<ConnectionStatus row="0" rowSpan="2" col="0" colSpan="3" [status]="connectionStatus"> </ConnectionStatus>

</GridLayout>