<StackLayout
    [backgroundColor]="(origen=='ERP')? '#FFFFFF' : '#dadada' "
    verticalAlignment="center"
    paddingTop="6"
    paddingBottom="6">
 
    <GridLayout columns="3*, 3*, 2* , 2* , 2*" rows="*,*" margin="2">
                                         
                                         <Label
                                            col="0"
                                            row="0"
                                            rowSpan="1"
                                            horizontalAlignment="left"
                                            verticalAlignment="center"
                                            fontSize="12"
                                            marginLeft="5"
                                            textWrap="true"
                                            [text]="emision"></Label>  


                                         <Label
                                            col="1"
                                            row="0"
                                            horizontalAlignment="left"
                                            verticalAlignment="center"
                                            fontSize="12" 
                                            textWrap="true"
                                            [text]="descripcion"></Label>
                                         <Label
                                            col="1"
                                            row="1"
                                            horizontalAlignment="left"
                                            verticalAlignment="center"
                                            fontSize="12" 
                                            textWrap="true"
                                            [text]="nro_doc"></Label>
                                        

                                        <Label
                                            col="2"
                                            row="0"
                                            rowSpan="1"
                                            horizontalAlignment="center"
                                            verticalAlignment="center"
                                            fontSize="12" 
                                            [text]="debe"></Label>
                                         
                                         <Label
                                            col="3"
                                            row="0"
                                            rowSpan="1"
                                            horizontalAlignment="center"
                                            verticalAlignment="center"
                                            fontSize="12" 
                                            [text]="haber"></Label>

                                        <Label
                                            col="4"
                                            row="0"
                                            rowSpan="1"
                                            horizontalAlignment="center"
                                            verticalAlignment="center"
                                            fontSize="10" 
                                            [text]="saldo"></Label>
    </GridLayout>
</StackLayout>