<AbsoluteLayout> 
        
        <StackLayout margin="0" width="100%" top="0" left="0" backgroundColor="#014154" paddingTop="0" paddingBottom="2" height="20" paddingLeft="6">
        
             <Label  
                        [text]="cliente"
                        fontSize="12"
                        color="#dadada"
                        textAlignment="center"
                        textWrap="true"></Label>
        
        </StackLayout>

        <GridLayout width="100%" top="20" left="0" columns="3*,3*,3*,3*" rows="*,*" backgroundColor="#017294" paddingTop="0" paddingBottom="2" height="30" paddingLeft="6">
        
                 <Label col="0" row="0" fontWeight="700" textAlignment="center" fontSize="10" color="#FFFFFF" [text]=" ((!de_sistema) && (descuento > 0 )) ? 'DESCUENTO' : '-' "></Label>  
                 <Label col="1" row="0" fontWeight="700" textAlignment="center" fontSize="10" color="#FFFFFF" text="SUBTOTAL"></Label>
                 <Label col="2" row="0" fontWeight="700" textAlignment="center" fontSize="10" color="#FFFFFF" text="IVA"></Label>  
                 <Label col="3" row="0" fontWeight="700" textAlignment="center" fontSize="10" color="#FFFFFF" text="TOTAL"></Label>
    

                 <Label
                    col="0"
                    row="1"
                    textAlignment="right" fontSize="10"
                    color="#FFFFFF"
                    [visibility]="de_sistema ? 'visible': 'collapsed' " 
                    backgroundColor="#393939"  
                    text="NO COMPRA"></Label>  
                 
                 <Label
                    col="0"
                    row="1"
                    textAlignment="center"
                    fontSize="10"
                    color="#FFFFFF"
                    [visibility]=" ((!de_sistema) && (descuento > 0 )) ?  'visible': 'collapsed'"  [text]="descuento+' %'"></Label>  
                 
                 <Label col="1" row="1" textAlignment="center"
                    fontSize="10" color="#FFFFFF" [text]="' $ '+subtotal_con_descuento" textWrap="true"></Label>  
                 
                 <Label col="2" row="1" textAlignment="center"
                    fontSize="10" color="#FFFFFF" [text]="' $ '+iva" textWrap="true"></Label>  
                 <Label col="3" row="1" textAlignment="center"
                    fontSize="10" color="#FFFFFF"  [text]="' $ '+total" textWrap="true"></Label>

                 
        </GridLayout>
                <!-- //f290 -->
            <Label top="23" left="3" fontSize="10" fontFamily="FontAwesome" color="#FFFFFF"  text="&#xf07a;"></Label>
            <Label top="33" left="4" fontSize="10" color="#FFFFFF" textWrap="true" [text]="cantidad+'/'+cantidad_items"></Label>

</AbsoluteLayout>