<GridLayout rows="1*, 11*" columns="*">

  <StackLayout 
        row="0"
        backgroundColor="#023141">
        
          <GridLayout width="100%" columns="4*,2*,2*,4*">
          
            <Label 
              col="0"
              marginLeft="10"
              fontSize="16"
              textAlignment="left"
              verticalAlignment="center"
              fontFamily="FontAwesome" 
              color="#FFFFFF"
              (tap)="closeModal()"
              text="&#xf053;"></Label>  

            
            <Button 
              col="3"
              margin="1"
              fontSize="18"
              textAlignment="right"
              verticalAlignment="center"
              borderWidth="1"
              borderColor="#023141"
              backgroundColor="#023141"
              [color]="enabledButton ? '#FFFFFF' : '#034054'"
              [isEnabled]="enabledButton"
              (tap)="submitModal()"  
              text="APLICAR"></Button>

          </GridLayout>
      
  </StackLayout>
   

  <ScrollView row="1">
  
  <StackLayout 
        backgroundColor="#034054">
        
        <!-- filtros-default -->
        <StackLayout  marginTop="5" marginBottom="5">
                  
          <!-- title -->
           <StackLayout 
            orientation="horizontal" 
            verticalAlignment="center" 
            horizontalAlignment="center" 
            width="95%" 
            marginLeft="5" 
            marginRight="5" 
            marginBottom="15">
            
            <StackLayout horizontalAlignment="left" width="25%" height="1" backgroundColor="#dadada" class="hr-light"></StackLayout>
            
            <Label 
              width="40%"
              textAlignment="center"
              textTransform="capitalize"
              fontSize="14"
              marginBottom="2"
              color="#dddddd"
              text="Ordenar Por"></Label>  

            <StackLayout horizontalAlignment="right" width="25%" height="1" backgroundColor="#dadada" class="hr-light"></StackLayout>

          </StackLayout>

          <!-- title -->
          <StackLayout 
            orientation="horizontal" 
            verticalAlignment="center" 
            horizontalAlignment="center" 
            width="95%" 
            marginLeft="5" 
            marginRight="5" 
            marginTop="20" 
            marginBottom="15">
          

          <GridLayout width="90%" columns="*, *, *, *">
          
           <StackLayout col="0"> 

              <Button 
                (tap)="setButtonOrden('comprados')"
                fontSize="14"
                borderRadius="100%"
                height="50"
                width="50"
                textAlignment="center"
                verticalAlignment="center"
                borderWidth="1"
                borderColor="#dadada"
                fontFamily="FontAwesome" 
                [color]="(ordenarPor == 'comprados') ? '#034054' : '#dadada'"
                [backgroundColor]="(ordenarPor == 'comprados') ? '#dadada' : '#034054'"
                text="&#xf07a;"></Button>  
              
              <Label 
                marginTop="10"
                fontSize="10"
                textAlignment="center"
                verticalAlignment="center"
                textWrap="true"
                color="#FFFFFF"
                text="En carrito"></Label>  
            
            </StackLayout>

          <StackLayout col="1"> 

              <Button 
                (tap)="setButtonOrden('orden')"
                fontSize="14"
                borderRadius="100%"
                height="50"
                width="50"
                textAlignment="center"
                verticalAlignment="center"
                borderWidth="1"
                borderColor="#dadada"
                fontFamily="FontAwesome" 
                [color]="(ordenarPor == 'orden') ? '#034054' : '#dadada'"
                [backgroundColor]="(ordenarPor == 'orden') ? '#dadada' : '#034054'"
                text="&#xf005; &#xf005; &#xf005;"></Button>  
              
              <Label 
                marginTop="10"
                fontSize="10"
                textAlignment="center"
                verticalAlignment="center"
                textWrap="true"
                color="#FFFFFF"
                text="Más relevantes"></Label>  
            
            </StackLayout>
            
            <StackLayout col="2"> 
                  <Button 
                    (tap)="setButtonOrden('min-price')"
                    fontSize="14"
                    borderRadius="100%"
                    height="50"
                    width="50"
                    textAlignment="center"
                    verticalAlignment="center"
                    borderWidth="1"
                    borderColor="#dadada"
                    fontFamily="FontAwesome" 
                    [color]="(ordenarPor == 'min-price') ? '#034054' : '#dadada'"
                    [backgroundColor]="(ordenarPor == 'min-price') ? '#dadada' : '#034054'"
                    text="&#xf155;"></Button>  

                  <Label 
                    marginTop="10"
                    fontSize="10"
                    textAlignment="center"
                    verticalAlignment="center"
                    textWrap="true"
                    color="#FFFFFF"
                    text="Menor precio"></Label>  

            </StackLayout>
          
            <StackLayout col="3"> 
              <Button 
                (tap)="setButtonOrden('max-price')"
                fontSize="14"
                borderRadius="100%"
                height="50"
                width="50"
                textAlignment="center"
                verticalAlignment="center"
                borderWidth="1"
                borderColor="#dadada"
                fontFamily="FontAwesome" 
                [color]="(ordenarPor == 'max-price') ? '#034054' : '#dadada'"
                [backgroundColor]="(ordenarPor == 'max-price') ? '#dadada' : '#034054'"
                text="&#xf155; &#xf155; &#xf155;"></Button>   


                <Label 
                    marginTop="10"
                    fontSize="10"
                    textAlignment="center"
                    verticalAlignment="center"
                    textWrap="true"
                    color="#FFFFFF"
                    text="Mayor precio"></Label>  

            </StackLayout>      
  
          </GridLayout>
      

          </StackLayout>

       
        </StackLayout>

        <!-- filtros - repeat -->  
        <StackLayout 
          [visibility]="(f.valores && f.valores.length) > 0 ? 'visible' : 'collapsed' "
          *ngFor="let f of filtros" 
          marginTop="10" 
          marginBottom="30">
          
          <!-- title -->
           <StackLayout 
            orientation="horizontal" 
            verticalAlignment="center" 
            horizontalAlignment="center" 
            width="95%" 
            marginLeft="5" 
            marginRight="5" 
            marginBottom="15">
            
            <StackLayout horizontalAlignment="left" width="25%" height="1" backgroundColor="#dadada" class="hr-light"></StackLayout>
            
            <Label 
              width="40%"
              textAlignment="center"
              textTransform="capitalize"
              fontSize="14"
              marginBottom="2"
              color="#dddddd"
              [text]="f.nombre"></Label>  

            <StackLayout horizontalAlignment="right" width="25%" height="1" backgroundColor="#dadada" class="hr-light"></StackLayout>

          </StackLayout>


          <ScrollView orientation="horizontal" width="110%" height="80">
            <StackLayout orientation="horizontal" verticalAlignment="center">
           
               <Button 
                  (tap)="setFiltro(f.valores, item)"
                  *ngFor="let item of f.valores"
                  marginLeft="8"
                  marginRight="8"
                  padding="6"
                  height="30"
                  fontSize="11"
                  borderRadius="150"
                  textAlignment="center"
                  verticalAlignment="center"
                  borderWidth="1"
                  borderColor="#dadada"
                  [backgroundColor]="item.activo ? '#dadada' : '#034054' "
                  [color]="item.activo ? '#333' : '#dadada'"
                  [text]="item.nombre"></Button>

            </StackLayout>
          </ScrollView>

        </StackLayout>   
        
        <!-- limpiar-filtros -->
           <Button 
                  marginBottom="20"
                  fontSize="12"
                  width="40%"
                  textAlignment="center"
                  textTransform="capitalize"
                  verticalAlignment="center"
                  borderWidth="1"
                  borderColor="#034054"
                  backgroundColor="#034054"
                  fontFamily="FontAwesome" 
                  color="#dadada"
                  (tap)="limpiarFiltros()"
                  text="&#xf1f8;  Limpiar filtros"></Button>

  </StackLayout>
  </ScrollView>

</GridLayout>