/* Login */

.page-background {
    background: url('~/assets/base/background.png');
	background-size: cover;
	background-position: top top;
}

.company-logo{
    /*transform: rotate(10deg);*/
}
.form{
    margin: 10;
}
.float-right-20{
	
}

.dialogOpen .page-login-container {
    opacity: 0.5;
}
