<GridLayout class="page page-background" [class.dialogOpen]="dialogOpen"  verticalAlignment="bottom"  height="100%">
	 
	 <ConnectionStatus [status]="connectionStatus"> </ConnectionStatus>

	 <GridLayout
		columns="*, *, 10" 
		rows="30, 40, 400, auto *, 40, 40"
		marginTop="0"
		top="0"	
		height="100%"
		left="0"> 

		<!-- line right -->
		<StackLayout
			class="float-right-20"
			row="1"
			rowSpan="6"
			col="2"
			borderTopLeftRadius="15" 
			backgroundColor="#2b3f61"></StackLayout>


	

		<!-- line two -->
		<StackLayout
			row="2"
			rowSpan="3"
			col="0"
			colSpan="2"
			class="form"
			borderRadius="20"
			marginTop="25"
			padding="20"
			paddingTop="40"
			verticalAlignment="top"
			backgroundColor="#FFFFFF"
			borderColor="#dadada"
			borderWidth="1">
				

				<FloatLabel #email    [status]="isLoading ? 'false': 'true' " [placeholder]=" 'app.email' | L"></FloatLabel>
				<FloatLabel #password [status]="isLoading ? 'false': 'true' " [placeholder]=" 'app.password' | L" secure="true"></FloatLabel>
				
			
				<Label
				verticalAlignment="top"
				horizontalAlignment="center"
				paddingTop="6"
				paddingBottom="6"
				class="futura text-left"
				(tap)="restoreAccount()"
				textWrap="true">
					<FormattedString>
				        	<Span color="#393939" fontSize="12" [text]=" 'login.reset_password' | L"></Span>
				        	<Span color="#4b6ca5" fontSize="10" [text]=" ' '+('login.reset_click' | L)"></Span>					
				    </FormattedString>
				</Label>


			<Button
				[text]=" 'login.login' | L "
				marginTop="10"
				marginBottom="10"
				height="40"
				borderRadius="10"
				(tap)="loginWithEmail()"
				[isEnabled]="!isLoading"
				class="btn btn-secondary btn-active futura"
				color="#fffFFF"
				backgroundColor="#393939"
				fontWeight="700"
				width="60%"></Button>

			<GridLayout columns="*,140,*" height="35" width="100%" marginTop="5"> 
				<StackLayout verticalAlignment="center" col="0" class="hr-dark"></StackLayout>
					<Label verticalAlignment="center" col="1"   class="futura" [text]=" 'login.or_use' | L" textAlignment="center" textWrap="true"></Label>
				<StackLayout verticalAlignment="center" col="2" class="hr-dark"></StackLayout>
			</GridLayout>

			<StackLayout orientation="horizontal" horizontalAlignment="center" marginTop="5">
				<Button [isEnabled]="!isLoading" class="fa" (tap)="loginWithFacebook()" text='&#xf09a;' marginRight="5" marginTop="0" backgroundColor="#4b6ca5" color="#FFFFFF" borderRadius="100" width="40" height="40"></Button>
				<Button [isEnabled]="!isLoading" class="fa" (tap)="loginWithGoogle()" text='&#xf1a0;' marginLeft="5" marginTop="0" backgroundColor="#df4a32" color="#FFFFFF" borderRadius="100" width="40" height="40"></Button>
			</StackLayout>

		</StackLayout>

		<!-- line three -->
		<Button
			row="5"
			rowspan="2"
			col="0"
			colSpan="3"
			(tap)="navigateToRegister()"
			horizontalAlignment="right"
			[text]=" 'login.register' | L"
			fontWeight="700"
			textAlignment="center"
			fontSize="14"
			color="#FFFFFF"
			backgroundColor="#2b3f61"
			borderTopLeftRadius="100%" 
			borderBottomLeftRadius="100%" 
			[isEnabled]="!isLoading"
			class="btn btn-primary btn-plus fa float-right-20"
			width="50%"
			height="40"></Button>
		
		<Label
				
				row="6"
				rowSpan="1"
				col="0"
				colSpan="1"
				marginLeft="5"
				fontWeight="700"
				fontSize="8"
				color="#dadada"
				class="m-b-20 text-left"
				marginTop="0"
				marginBottom="5"
				verticalAlignment="bottom"
				[text]=" ('app.version' | L )+version"
				textWrap="true"></Label>


		
		<ThreeLoading row="1" rowSpan="5" col="0" colSpan="2" [isLoading]="isLoading"> </ThreeLoading>

			<!-- line one -->
			<Image
				marginTop="-45"
				verticalAlignment="top"
				horizontalAlignment="center"
				width="50%"
				row="2"
				col="0"
				rowSpan="0"
				colSpan="3"
				src="~/assets/base/logo-principal.png"
				stretch="aspectFit"></Image>


</GridLayout>
	
	<!--modal-password-->
	<ModalRestoreAccount 
		#modalRestore
		(submitModal)="submitRestoreAccount($event)"
		(closeModal)="cancelRestoreAccount($event)"> </ModalRestoreAccount>
	
</GridLayout>