<GridLayout 
      android:rows="60, *" 
      ios:rows="50, *" 
      backgroundColor="#FFFFFF"
      verticalAlignment="center"
      horizontalAlignment="center">

  <StackLayout 
        row="0"
        orientation="horizontal"
        horizontalAlignment="center"
        verticalAlignment="top"
        backgroundColor="#023141">
        
        <StackLayout height="100%" margin="0" padding="0">
        <GridLayout width="100%" columns="1*, 11*" horizontalAlignment="center" verticalAlignment="center">
          
            <Label 
              col="0"
              margin="1"
              margin="1" 
              textAlignment="center"
              fontSize="16"
              fontFamily="FontAwesome" 
              color="#FFFFFF"
              (tap)="close()"
              verticalAlignment="center"
              text="&#xf053;"></Label>  

            <SearchBar
                col="1"
                color="white"
                [text]="searchPhrase"
                (clear)="onClear($event)"
                (submit)="onSubmit($event)"
                (loaded)="searchBarLoaded($event)"
                (textChange)="onTextChanged($event)"
                textFieldBackgroundColor="#7b7b7b" 
                textFieldHintColor="#ededed"></SearchBar>
          </GridLayout>
        </StackLayout>

  </StackLayout>
  
   

  <StackLayout row="1" android:minHeight="120" ios:minHeight="80"  verticalAlignment="top" backgroundColor="#ffffff">
        
          <Label 
              [visibility]="( valores.length == 0 ) ? 'visible' : 'collapsed'"  
              fontSize="16"
              paddingTop="15"
              paddingBottom="15"
              margin="20"
              horizontalAlignment="center"
              color="#393939"
              textAlignment="left"
              textWrap="true"
              text="Sin resultados para la busqueda ingresada."></Label>

                  <ListView 
                        [visibility]="((valores.length) >= 1) ? 'visible' : 'collapsed'"
                        [items]="valores"
                        height="100%">
                                          
                         <ng-template 
                            let-item="item" let-i="index2">
                                       
                                       <StackLayout 
                                          margin="0"
                                          width="100%"
                                          orientation="horizontal" 
                                          margin="0"
                                          padding="0"
                                          minHeight="60"
                                          paddingBottom="4"
                                          paddingTop="4"
                                          (tap)="tapSearchFast(item.nameCodigo)"
                                          (longpress)="longTapSearchFast(item.nameCodigo)">
                                          
                                           <StackLayout
                                              orientation="vertical"
                                              width="10%"
                                              horizontalAlignment="left"
                                              verticalAlignment="center"
                                              height="100%">
                                                  
                                                   <Label 
                                                      horizontalAlignment="center"
                                                      verticalAlignment="center"
                                                      fontSize="14"
                                                      fontFamily="FontAwesome" 
                                                      color="#393939"
                                                      text="&#xf002;"></Label> 

                                              </StackLayout>


                                            <StackLayout 
                                                orientation="vertical" 
                                                horizontalAlignment="left"
                                                verticalAlignment="center"
                                                width="90%"
                                                height="100%">
                                                    
                                                    <Label 
                                                        color="#393939"
                                                        fontSize="16"
                                                        textTransform="uppercase"
                                                        textAlignment="left"
                                                        [text]="item.nameCodigo"  
                                                        textWrap="true"></Label>

                                            </StackLayout>  


                                          </StackLayout>
                

                      </ng-template>
                </ListView>                   
  </StackLayout>
            
</GridLayout>

