<GridLayout
    rows="12*"
    margin="0"
    padding="0"
    columns="*"
    backgroundColor="#CCCCCC">
        
    <ScrollView
        row="0"
        orientation="vertical">
        
        <StackLayout
            padding="5"
            backgroundColor="#FFFFFF"
            orientation="vertical">

                <RadDataForm #customDataForm
                    (loaded)="initValores()"
                    [source]="cliente" 
                    validationMode="Manual" 
                    commitMode="Immediate"
                    (propertyCommitted)="onPropertyCommitted($event)"
                    (editorUpdate)="dfEditorUpdate($event)">
                
                    
                    <TKPropertyGroup
                    tkDataFormGroups
                    collapsible="false"
                    name="DATOS GENERALES"
                    hidden="false"
                    titleHidden="false">
                    
                    <TKGroupTitleStyle
                        tkPropertyGroupTitleStyle
                        fillColor="#023141" 
                        labelTextSize="18"  
                        ios:labelFontName="sans-serif"
                        android:labelFontName="sans-serif"
                        labelFontStyle="Bold" 
                        labelTextColor="White"></TKGroupTitleStyle>

                    
                    <TKDataFormGridLayout
                         tkPropertyGroupLayout></TKDataFormGridLayout>

                    <TKEntityProperty 
                        tkPropertyGroupProperties 
                        name="nombre"
                        displayName="Razon Social * :">
                        <TKPropertyEditor tkEntityPropertyEditor required="true" type="Text">

                        <TKPropertyEditorStyle tkPropertyEditorStyle strokeColor="#FFFFFF" strokeWidth="4" fillColor="#F9F9F9" labelHidden="false"
                         labelTextSize="14" labelWidth="180" labelVerticalOffset="0" editorVerticalOffset="0" editorHorizontalOffset="0" labelPosition="Left" labelTextColor="#393939"></TKPropertyEditorStyle>

                        </TKPropertyEditor>
                    </TKEntityProperty>

                     <TKEntityProperty 
                        tkPropertyGroupProperties
                        name="cuit" 
                        displayName="CUIT * :">
                        <TKPropertyEditor type="Text" tkEntityPropertyEditor>

                            <TKPropertyEditorStyle
                                tkPropertyEditorStyle
                                strokeColor="#fff"
                                strokeWidth="4"
                                fillColor="#F9F9F9"
                                
                                labelTextSize="14"
                                labelPosition="Left" 
                                labelWidth="180" 
                                labelTextColor="#393939"></TKPropertyEditorStyle>

                        </TKPropertyEditor>
                        
                    </TKEntityProperty>

                    <!-- zona -->
                    <TKEntityProperty
                        tkPropertyGroupProperties
                        name="zona"
                        displayName="Zona"  
                        [valuesProvider]="arrayZona">
                            <TKPropertyEditor tkEntityPropertyEditor type="Picker">

                                <TKPropertyEditorStyle tkPropertyEditorStyle strokeColor="#fff" strokeWidth="4" fillColor="#F9F9F9"  labelTextSize="14" labelPosition="Left" labelWidth="180" labelTextColor="#393939"></TKPropertyEditorStyle>

                            </TKPropertyEditor>
                        </TKEntityProperty>
                    

                    <!-- condicion-iva -->
                    <TKEntityProperty
                        tkPropertyGroupProperties
                        name="cond_iva"
                        displayName="Cond. IVA"  
                        [valuesProvider]="arrayIva">
                            <TKPropertyEditor tkEntityPropertyEditor type="Picker">

                                <TKPropertyEditorStyle tkPropertyEditorStyle strokeColor="#fff" strokeWidth="4" fillColor="#F9F9F9"  labelTextSize="14" labelPosition="Left" labelWidth="180" labelTextColor="#393939"></TKPropertyEditorStyle>

                            </TKPropertyEditor>
                        </TKEntityProperty>

                 
                    
                    <TKEntityProperty 
                        tkPropertyGroupProperties name="email"
                        displayName="Email *:">
                        <TKPropertyEditor tkEntityPropertyEditor type="Email">

                        <TKPropertyEditorStyle tkPropertyEditorStyle strokeColor="#FFFFFF" strokeWidth="4" fillColor="#F9F9F9" labelHidden="false" labelWidth="180" labelTextSize="14" labelPosition="Left" labelTextColor="#393939"></TKPropertyEditorStyle>

                        <TKEmailValidator 
                        errorMessage="Revisar email"
                        tkEntityPropertyValidators></TKEmailValidator>

                        </TKPropertyEditor>
                    </TKEntityProperty>


                    <TKEntityProperty tkPropertyGroupProperties name="telefono" displayName="Telefono * :">

                    <TKPropertyEditor type="Phone" tkEntityPropertyEditor>

                        <TKPropertyEditorStyle tkPropertyEditorStyle strokeColor="#FFFFFF" strokeWidth="4" fillColor="#F9F9F9" labelHidden="false" labelWidth="180" labelTextSize="14" labelPosition="Left" labelTextColor="#393939"></TKPropertyEditorStyle>

                    </TKPropertyEditor>

                    </TKEntityProperty>


                </TKPropertyGroup>
                    
                
                    
                       <TKPropertyGroup
                        tkDataFormGroups
                        [collapsible]=" _isAndroid ? true : false"
                        name="DIRECCIÓN"
                        hidden="false"
                        titleHidden="false">
                        
                        <TKGroupTitleStyle
                            tkPropertyGroupTitleStyle
                            fillColor="#023141" 
                            labelTextSize="18"  
                            ios:labelFontName="sans-serif"
                            android:labelFontName="sans-serif"
                            labelFontStyle="Bold" 
                            labelTextColor="White"></TKGroupTitleStyle>

                        
                        <TKDataFormGridLayout
                             tkPropertyGroupLayout></TKDataFormGridLayout>
                    
                            <!-- direccion - calle -->
                                <TKEntityProperty
                                    tkPropertyGroupProperties
                                    name="calle"
                                    displayName="Calle "
                                    index="0"
                                    columnIndex="0">
                                        
                                    <TKPropertyEditor
                                    type="Text" 
                                    tkEntityPropertyEditor>
                                    
                                    <TKPropertyEditorStyle
                                        tkPropertyEditorStyle
                                        strokeColor="#FFFFFF"
                                        strokeWidth="4"
                                        fillColor="#F9F9F9" 
                                        labelHidden="false"
                                        labelTextSize="14" 
                                        labelPosition="Top" 
                                        labelTextColor="#393939"></TKPropertyEditorStyle>
                                        
                                    </TKPropertyEditor>
                                </TKEntityProperty>
                            
                            <!-- direccion - nro -->
                        <TKEntityProperty
                            tkPropertyGroupProperties
                            name="numero"
                            displayName="Número "
                            index="0"
                            columnIndex="1">
                                
                            <TKPropertyEditor
                            type="Number" 
                            tkEntityPropertyEditor>
                            
                              <TKPropertyEditorStyle
                                tkPropertyEditorStyle
                                strokeColor="#FFFFFF"
                                strokeWidth="4"
                                fillColor="#F9F9F9" 
                                labelHidden="false"
                                labelTextSize="14" 
                                labelPosition="Top" 
                                labelTextColor="#393939"></TKPropertyEditorStyle>
                                
                            </TKPropertyEditor>
                        </TKEntityProperty>

                       <!-- direccion - localidad -->
                        <TKEntityProperty
                            tkPropertyGroupProperties
                            name="localidad"
                            displayName="Localidad"
                            index="1"
                            columnIndex="0">
                                
                                <TKPropertyEditor
                                type="Text" 
                                tkEntityPropertyEditor>
                                
                                 <TKPropertyEditorStyle
                                tkPropertyEditorStyle
                                strokeColor="#FFFFFF"
                                strokeWidth="4"
                                fillColor="#F9F9F9" 
                                labelHidden="false"
                                labelTextSize="14" 
                                labelPosition="Top" 
                                labelTextColor="#393939"></TKPropertyEditorStyle>
                                    
                                </TKPropertyEditor>

                            </TKEntityProperty>

                        
                             <!-- direccion -->
                            <TKEntityProperty
                                tkPropertyGroupProperties
                                name="provincia"
                                displayName="Provincia :"
                                index="1"
                                columnIndex="1"
                                [valuesProvider]="arrayProvincia">
                                    
                                <TKPropertyEditor
                                type="Picker" 
                                tkEntityPropertyEditor>
                                
                                <TKPropertyEditorStyle
                                    tkPropertyEditorStyle
                                    strokeColor="#FFFFFF"
                                    strokeWidth="4"
                                    fillColor="#F9F9F9" 
                                    labelHidden="false"
                                    labelTextSize="14" 
                                    labelPosition="Top" 
                                    labelTextColor="#393939"></TKPropertyEditorStyle>
                                    
                                </TKPropertyEditor>
                            </TKEntityProperty>

                            <!-- direccion -->
                            <TKEntityProperty
                                tkPropertyGroupProperties
                                name="pais"
                                displayName="Pais :"
                                index="2"
                                columnIndex="0"
                                [valuesProvider]="arrayPais">
                                    
                                <TKPropertyEditor
                                type="Picker" 
                                tkEntityPropertyEditor>
                                
                                <TKPropertyEditorStyle
                                    tkPropertyEditorStyle
                                    strokeColor="#FFFFFF"
                                    strokeWidth="4"
                                    fillColor="#F9F9F9" 
                                    labelHidden="false"
                                    labelTextSize="14" 
                                    labelPosition="Top" 
                                    labelTextColor="#393939"></TKPropertyEditorStyle>
                                    
                                </TKPropertyEditor>
                            </TKEntityProperty>



                        </TKPropertyGroup>      

    
                <TKPropertyGroup
                        tkDataFormGroups
                        [collapsible]="_isAndroid ? true : false"
                        name="COMERCIAL"
                        hidden="false"
                        titleHidden="false">
                    

                        <TKGroupTitleStyle
                            tkPropertyGroupTitleStyle
                            fillColor="#023141" 
                            labelTextSize="18"  
                            ios:labelFontName="sans-serif"
                            android:labelFontName="sans-serif"
                            labelFontStyle="Bold" 
                            labelTextColor="White"></TKGroupTitleStyle>


                        <TKDataFormGridLayout
                             tkPropertyGroupLayout></TKDataFormGridLayout>

                                
                            <!-- f_pago -->
                            <TKEntityProperty
                                tkPropertyGroupProperties
                                name="f_pago"
                                displayName="Forma de pago :"
                                index="0"
                                columnIndex="0"
                                [valuesProvider]="arrayPagos">
                                    
                                <TKPropertyEditor
                                type="Picker" 
                                tkEntityPropertyEditor>
                                
                                <TKPropertyEditorStyle
                                    tkPropertyEditorStyle
                                    strokeColor="#FFFFFF"
                                    strokeWidth="4"
                                    fillColor="#F9F9F9" 
                                    labelHidden="false"
                                    labelTextSize="14" 
                                    labelPosition="Top" 
                                    labelTextColor="#393939"></TKPropertyEditorStyle>
                                    
                                </TKPropertyEditor>
                            </TKEntityProperty>


                             <!-- f_transporte -->
                            <TKEntityProperty
                                tkPropertyGroupProperties
                                name="f_transporte"
                                displayName="Transporte :"
                                index="0"
                                columnIndex="1"
                                [valuesProvider]="arrayTransporte">
                                    
                                <TKPropertyEditor
                                type="Picker" 
                                tkEntityPropertyEditor>
                                
                                <TKPropertyEditorStyle
                                    tkPropertyEditorStyle
                                    strokeColor="#FFFFFF"
                                    strokeWidth="4"
                                    fillColor="#F9F9F9" 
                                    labelHidden="false"
                                    labelTextSize="14" 
                                    labelPosition="Top" 
                                    labelTextColor="#393939"></TKPropertyEditorStyle>
                                    
                                </TKPropertyEditor>
                            </TKEntityProperty>


                              <!-- prec_lista -->
                            <TKEntityProperty
                                tkPropertyGroupProperties
                                name="p_lista"
                                displayName="Lista de precio :"
                                index="1"
                                columnIndex="0"
                                [valuesProvider]="arrayLista">
                                    
                                <TKPropertyEditor
                                type="Picker" 
                                tkEntityPropertyEditor>
                                
                                <TKPropertyEditorStyle
                                    tkPropertyEditorStyle
                                    strokeColor="#FFFFFF"
                                    strokeWidth="4"
                                    fillColor="#F9F9F9" 
                                    labelHidden="false"
                                    labelTextSize="14" 
                                    labelPosition="Top" 
                                    labelTextColor="#393939"></TKPropertyEditorStyle>
                                    
                                </TKPropertyEditor>
                            </TKEntityProperty>

                             <!-- descuento - nro -->
                            <TKEntityProperty
                                tkPropertyGroupProperties
                                name="descuento"
                                displayName="Descuento (%) :"
                                index="1"
                                columnIndex="1">
                                    
                                <TKPropertyEditor
                                type="Number" 
                                tkEntityPropertyEditor>
                                
                                  <TKPropertyEditorStyle
                                    tkPropertyEditorStyle
                                    strokeColor="#FFFFFF"
                                    strokeWidth="4"
                                    fillColor="#F9F9F9" 
                                    labelHidden="false"
                                    labelTextSize="14" 
                                    labelPosition="Top" 
                                    labelTextColor="#393939"></TKPropertyEditorStyle>
                                    
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        
                        </TKPropertyGroup>


                </RadDataForm>            


            <Label
                [text]="_text"
                textWrap="true"
                margin="12"
                android:color="#C73339"
                ios:color="red"
                horizontalAlignment="center"></Label>

                  <StackLayout
                     orientation="vertical"
                     row="1"
                     marginTop="2"
                     marginBottom="2"
                     marginLeft="8"
                     marginRight="8"
                     padding="5"
                     horizontalAlignment="center"
                     verticalAlignment="bottom" backgroundColor="#FFFFFF">
                

                    <Button 
                        width="100%"
                        color="#FFFFFF"
                        backgroundColor="#023141"
                        (tap)="submit()"  
                        ios:marginTop="5"
                        text="CREAR NUEVO"></Button>
                    
                    <Button 
                        width="100%"
                        color="#FFFFFF"
                        backgroundColor="#023141"
                        (tap)="close()"
                        ios:marginTop="5"
                        text="VOLVER"></Button>


                </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>

