<ActionBar class="futura action-bar" title="empresap" fontSize="14" fontWeight="700" backgroundColor="#4b6ca5">
  
  <GridLayout  rows="*, *" columns="125, *" orientation="horizontal">
    
    <Image  
            row="0"
            col="0"
            opacity="0.8"
            height="25"
            horizontalAlignment="center"
            verticalAlignment="center"
            src="~/assets/base/logo-secundario.png"
            stretch="aspectFit"></Image>
    
    <Label
        row="1"
        col="0"
        fontWeight="400"
        fontSize="12"
        color="#FFFFFF"
        class="permantent-maker"
        horizontalAlignment="center"
        [text]=" 'app.slogan' | L"
        textWrap="true"></Label>
    

    <Label
        row="0"
        rowSpan="2"
        col="1"
        colSpan="2"
        marginLeft="5"
        fontWeight="900"
        fontSize="18"
        color="#FFFFFF"
        letterSpacing="0.1"
        class="futura-bold"
        horizontalAlignment="left"
        verticalAlignment="center"
        borderLeftWidth="1"
        marginLeft="10"
        paddingLeft="5"
        paddingTop="5"
        marginTop="10"
        paddingBottom="5"
        borderColor="#dadada"
        [text]=" ('app.version' | L )+' '+version"
        textWrap="true"></Label>


  </GridLayout>
</ActionBar>

<ScrollView height="auto">
<GridLayout rows="40, 80, 150, *">
    
    <GridLayout class="sub-header" row="0" rows="*" columns="*, 10, *" backgroundColor="#2b3f61" orientation="horizontal" padding="2" borderBottomWidth="1" borderColor="#4b6ca5">
        
        <Button horizontalAlignment="left" padding="4" row="0" col="0" borderWidth="0" borderRadius="10" backgroundColor="#2b3f61" fontSize="12" (tap)="changeDirection($event)">
                <FormattedString>
                        <Span class="futura" fontWeight="700" color="#FFFFFF" fontSize="14" [text]="(dataDirection.alias) ? (dataDirection.alias+' ') : ('home.select_direction' | L)"></Span>
                        <Span class="fa" color="#FFFFFF" fontSize="10" text="&#xf0dd;"></Span>                   
                    </FormattedString>
        </Button>


        <Button horizontalAlignment="right" padding="4" row="0" col="2" borderWidth="0" borderRadius="10" backgroundColor="#2b3f61" fontSize="12" (tap)="changeStore($event)">
                <FormattedString>
                        <Span class="futura" fontWeight="700" color="#FFFFFF" fontSize="14" [text]="(dataStore.alias) ? (dataStore.alias+' ') : ('home.select_store' | L)"></Span>
                        <Span class="fa" color="#FFFFFF" fontSize="10" text="&#xf0dd;"></Span>                          
                </FormattedString>
        </Button>
    
    </GridLayout>
    
    <StackLayout row="1" margin="15">
        <Label [text]="dataUserWelcome"  class="futura-bold vibrate-infinite" fontSize="26" horizontalAlignment="center" verticalAlignment="center" color="#95ba65"> </Label>
        <Label [text]="('home.slogan' | L)"  fontSize="16" class="futura" horizontalAlignment="center" verticalAlignment="center" color="#393939"> </Label>
    </StackLayout>

    <Carousel row="2" #myCarousel debug="false" [items]="dataSliders" height="100%" width="90%" margin="20" color="white"
            android:indicatorAnimation="slide" indicatorColor="#2b3f61" indicatorOffset="0, -10" showIndicator="true" margin="15">
        <CarouselItem *ngFor="let item of dataSliders" backgroundColor="#dadada" verticalAlignment="middle">
            <AbsoluteLayout>
                <Image top="0" left="0" [src]="item.src" stretch="aspectFit"></Image>
            </AbsoluteLayout>
        </CarouselItem>
    </Carousel>

    
    
    <GridLayout row="3" rows="60, auto, 60" columns="2*, 2*, 2*, 2*, 2*, 2*" width="100%" padding="15">
        <!-- top-header -->
        <StackLayout [@slide-left]="'enter'" height="50" row="0" col="0" colSpan="1" data-name="profile" margin="5">
            <Button color="#ffffff" borderWidth="1" borderBottomWidth="2" borderRadius="10" backgroundColor="#393939" height="100%" fontSize="16" text="&#xf007;" class="fa menu-icon" (tap)="onMenuButtonTap($event)"></Button>
        </StackLayout>

        <StackLayout [@slide-left]="'enter'" height="50" row="0" col="1" colSpan="6" data-name="notificaciones" margin="5">
            <Button color="#ffffff" borderWidth="1" borderBottomWidth="2" borderRadius="10" backgroundColor="#2b3f61" height="100%" fontSize="16" class="futura menu-icon" (tap)="onMenuButtonTap($event)">
                <FormattedString>
                        <Span class="futura" color="#FFFFFF" fontSize="16" [text]="('home.notification' | L)"></Span>
                        <Span class="fa" verticalAlignment="top" [color]="(enBandeja && enBandeja>0) ? '#df4a32': '#2b3f61' " fontSize="10" text="  &#xf111;"></Span>                   
                </FormattedString>
            </Button>
        </StackLayout>
    
        <!-- top-header -->
        <StackLayout class="pressed"  verticalAlignment="bottom" height="auto" row="1" col="0" colSpan="3" data-name="nueva-orden" borderWidth="1" borderColor="#2b3f61" borderRadius="10" padding="10" margin="5" height="180">
            <Image height="100"  src="~/assets/home/nueva-orden.png" stretch="aspectFit" (tap)="onMenuButtonTap($event)"></Image>
            <Label paddingTop="10" [text]="('home.new_order' | L)" fontSize="20" class="text-center futura-bold" (tap)="onMenuButtonTap($event)"></Label>
        </StackLayout>

        <StackLayout class="pressed"  verticalAlignment="bottom" height="auto" row="1" col="3" colSpan="3" data-name="ordenes" borderWidth="1" borderColor="#2b3f61" borderRadius="10" padding="10" margin="5" height="180">
            <Image height="100" horizontalAlignment="center" src="~/assets/home/orders.png" stretch="aspectFit" (tap)="onMenuButtonTap($event)"></Image>
            <Label paddingTop="10" [text]="('home.orders' | L)" fontSize="20" class="text-center futura-bold" (tap)="onMenuButtonTap($event)"></Label>
        </StackLayout>

        <!-- low-header -->
        <StackLayout [@slide-right]="'enter'" height="50" row="2" col="0" colSpan="5" data-name="conversaciones" margin="5">
            <Button color="#ffffff" borderWidth="1" borderRadius="10" backgroundColor="#2b3f61"  height="100%" fontSize="16" [text]="('home.chats' | L)" class="futura menu-icon" (tap)="onMenuButtonTap($event)"></Button>
        </StackLayout>

        <StackLayout [@slide-right]="'enter'" height="50" row="2" col="5" colSpan="1" data-name="preguntas-frecuentes" margin="5">
            <Button color="#ffffff" borderWidth="1" borderRadius="10" backgroundColor="#393939" height="100%" fontSize="16" text="&#xf128;" class="fa menu-icon" (tap)="onMenuButtonTap($event)"></Button>
        </StackLayout>

    </GridLayout>
    
    <ConnectionStatus row="0" rowSpan="2" [status]="connectionStatus"> </ConnectionStatus>
    
</GridLayout>
</ScrollView>