/* Home */

.page-home-container {
    android-status-bar-background: #3879c1;
    ios-status-bar-background: #3879c1;
}

.sub-header .fa {  
	transform: translateY(-50px);
}

.mte-5{
    transform: translateY(-5px);
}

.vibrate-infinite{
   animation-name: vibrate;
   animation-duration: 0.1s;
   animation-direction: reverse;
   animation-iteration-count: 6;
}

.pressed:pressed {
    transform: scale(1.2, 1.2);
} 
