<ActionBar 
    backgroundColor="#023141" color="#ffffff">
    
    <!-- navigation -->
    <NavigationButton
        ios:visibility="collapsed"
        icon="res://menu"
        (tap)="onDrawerButtonTap()"></NavigationButton>
    
    <ActionItem
        icon="res://menu"
        android:visibility="collapsed"
        (tap)="onDrawerButtonTap()"
        margin="0"
        padding="0"
        ios.position="left"></ActionItem>
    
    <!-- titulo -->
     <StackLayout 
            orientation="vertical"
            ios:visibility="collapsed"
            ios:horizontalAlignment="left"
            android:horizontalAlignment="left"
            (tap)="limpiarBusqueda()">
      
            <Label 
                    padding="0"
                    margin="0"
                    [text]="titulo.linea_2"
                    fontSize="9"
                    textAlignment="left"
                    textWrap="false"></Label>
    
              <Label 
                    padding="0"
                    margin="0"
                    [text]="titulo.linea_3"
                    fontSize="10"
                    textAlignment="left"
                    textWrap="true"></Label>

      </StackLayout>
        
        <!-- icons -->


            <!-- nocompra -->
            <ActionItem
                icon='res://ic_nocompra_white'
                width="10px"
                height="10px"
                (tap)="emitNoCompra()"
                ios.position="left"
                android:visibility="collapsed"
                android.position="right"></ActionItem>


             <!-- buscar -->
             <ActionItem
                  ios.position="right"
                  (tap)="openViewSearch()"
                  width="10px"
                  height="10px"
                  [icon]="(searchPhrase && searchPhrase.length > 0) ? 'res://ic_search_color' : 'res://ic_search_white'" android.position="actionBar"></ActionItem>

            <!-- filtros -->
             <ActionItem
                  ios.position="right"
                  (tap)="openViewFilter()"
                  [icon]="(filtrera && filtrera.activo) ? 'res://ic_filter_color' : 'res://ic_filter_white'"
                  android.position="actionBar"></ActionItem>       
            
        
            <!-- vista -->
            <ActionItem
                [icon]="_viewActive.url"
                width="10px"
                height="10px"
                (tap)="changeView($event)"
                ios.position="right"
                android.position="right"></ActionItem>

            
            <!-- cabecera -->
            <ActionItem
                icon='res://ic_edit_white'
                width="10px"
                height="10px"
                (tap)="popCabecera()"
                ios.position="right"
                android:visibility="collapsed"
                android.position="right"></ActionItem>


            


        <!-- popup -->
            <!-- pedido-cabecera -->
             <ActionItem
                (tap)="popCabecera()"
                text="Editar cabecera" 
                ios:visibility="collapsed"
                android.position="popup"></ActionItem>    
            
            <!-- pedido-agregar-todos -->
             <ActionItem
                (tap)="emitLoadAllProducts()"
                [text]="(isios) ? 'Desc. stock' : 'Descargar stock' " 
                ios.position="left"
                android.position="popup"></ActionItem>    

            <!-- pedido-motivo-nocompra -->
             <ActionItem
                ios:visibility="collapsed"
                [android:visibility]="(p_nocompra && p_nocompra.length > 0) ? 'visible' : 'collapsed' "
                (tap)="emitNoCompra()"
                text="Cargar 'NO COMPRA'" 
                android.position="popup"></ActionItem>    
                    
</ActionBar>


<GridLayout
    orientation="vertical"
    rows="auto *"
    height="100%"
    width="100%">
       
    <!-- datos-cabecera -->
    <HeadComponent
            [cliente]="titulo.linea_1"
            [de_sistema]="de_sistema"
            [descuento]="pedido.descuento"
            [iva]="pedido.iva"
            [total]="pedido.total"
            [cantidad]="pedido.cantidad"
            [cantidad_items]="pedido.cantidad_items"
            [subtotal_con_descuento]="pedido.subtotal_con_descuento"></HeadComponent>
    <!-- datos-cabecera -->
  
      
    <!-- LISTADO -->
    <RadListView #radListProds 
                 row="1"
                 loadOnDemandMode="Manual" 
                 multipleSelection="false" 
                 scrollDirection="Vertical"                    
                 [itemTemplateSelector]="templateSelector"
                 (loadMoreDataRequested)="onLoadMoreItemsRequested($event)"
                 [items]="dataItems">
                
                <ng-template tkListLoadOnDemandTemplate>   
                    <StackLayout backgroundColor="#FFFFFF">
                        <Label color="#dadada" text="Desplegando productos" horizontalAlignment="center" verticalAlignment="center"></Label>
                    </StackLayout>
                </ng-template>

                <ng-template tkListViewHeader *tkIfIOS>
                    <StackLayout 
                    backgroundColor="#FFFFFF" 
                    [visibility]="(!_viewActive.android && _viewActive.name == 'stagged') ? 'visible': 'collapsed'">
                        <Label 
                        class="header" 
                        [text]="(!_viewActive.android && _viewActive.name == 'stagged') ? 'VISTA AUN NO DISPONIBLE' : 'MIS PRODUCTOS' "
                        color="#393939"
                        padding="4"
                        horizontalAlignment="center" verticalAlignment="center"></Label>
                    </StackLayout>
                </ng-template>

                

                <ng-template tkListItemTemplate let-item="item" tkTemplateKey="producto" let-i="index">
                    <FlexboxLayout
                        width="100%"
                        [flexDirection]="(_viewActive.name == 'list') ? 'row' : 'column' "
                        horizontalAlignment="center">
                           
                            <ProductoComponent
                                    [producto]="item"
                                    [mostrarFoto]="mostrarFoto"
                                    [viewActive]="_viewActive.name"
                                    (delete)='deleteProduct($event)'
                                    (openPop)='openPopCant($event)'
                                    (openImage)='openImage($event)'
                                    (openDetalle)='openPopDetalle($event)'></ProductoComponent> 
                        
                    </FlexboxLayout>
                </ng-template>
                
                <ng-template tkListItemTemplate let-item="item" tkTemplateKey="sistema" let-i="index">
                    <StackLayout> 
                                <Label text="-" class="sistema"></Label>
                    </StackLayout>
                </ng-template>
                

        </RadListView>
      

        <FAB
            (tap)="confirmarPedido()"
            id="fabButton"
            row="1"
            icon="res://ic_ok_white"
            rippleColor="#ededed"
            backgroundColor="#71c5f7"
            horizontalAlignment="right"
            verticalAlignment="bottom"
            height="50"
            width="50"
            margin="15"
            color="#ffffff"
            swipeAnimation="slideDown" ></FAB>
     

       <ActivityIndicator #activityIndicator
                android:color="#017294"
                ios:color="blue"
                rowSpan="2"
                [busy]="activity"
                verticalAlignment="center"
                android:width="100" 
                android:height="100"
                ios:width="350px" 
                ios:height="350px"></ActivityIndicator>

    

        <!--modal-acciones-->
        <ModalAcciones></ModalAcciones>
        


</GridLayout>
