<ScrollView orientation="horizontal" [visibility]="(filtros.length>0) ? 'visible' : 'collapsed' ">   
            <StackLayout orientation="horizontal" backgroundColor="#023141" height="120px" padding="4"> 
                <Label
                    horizontalAlignment="center"
                    verticalAlignment="center"
                    padding="4"
                    textAlignment="center"
                    [text]="f" 
                    backgroundColor="#023141"
                    color="#ffffff"
                    borderRadius="4"
                    *ngFor="let f of filtros"></Label>
                <Button
                    width="100px"
                    borderRadius="4"
                    color="#ffffff"
                    backgroundColor="#023141"
                    horizontalAlignment="center"
                    verticalAlignment="center"
                    text="&#xf2d3;" 
                    horizontalAlignment="center" 
                    verticalAlignment="top" 
                    fontFamily="FontAwesome" 
                    (tap)="resetarFiltros()"></Button>
            </StackLayout>
 </ScrollView>