
          <StackLayout
              top="0"
              row="0"
              margin="0"
              horizontalAlignment="center"
              verticalAlignment="top">

            <StackLayout
              padding="0"
              backgroundColor="#FFFFFF"
              orientation="vertical">
                
                <StackLayout
                  margin="4">
                 
                 <Label
                      [text]="producto.nombre"
                      fontSize="14"
                      fontWeight="700"
                      color="#333"
                      textAlignment="center"
                      textWrap="true"></Label>
                 
                 <Label
                    [text]="'Unidad de venta: ' +producto.unidad_venta+ ' | Stock: ' + producto.disponible"
                    fontWeight="700"
                    fontSize="12"
                    color="#333"
                    textAlignment="center"
                    textWrap="true"></Label>
                 
                 <Label 
                   textWrap="true" 
                   [text]="'PRECIO: $' +producto.precio_con_descuento + ' | SUBTOTAL: $' +producto.subtotal_con_descuento" 
                   fontWeight="400"
                   color="#023141"
                   fontSize="12"
                   textAlignment="center"></Label>

                </StackLayout>
                
                <StackLayout 
                        height="1" backgroundColor="#dadada" marginTop="2" marginBottom="2"></StackLayout>

                
                <StackLayout
                    orientation="horizontal"
                    width="100%"
                    horizontalAlignment="center"
                    height="60"
                    margin="5"
                    padding="5">
                    
                    <StackLayout  
                      orientation="horizontal"
                      width="42%"
                      marginLeft="5">
                        <Label
                          verticalAlignment="center"
                          width="40%"
                          text="CANT: u" 
                          textAlignment="left"></Label>
                        
                        <TextField  #TFcantidad
                          type="number"
                          verticalAlignment="center"
                          width="60%"
                          isEnabled="true"  
                          keyboardType="number" 
                          autocapitalizationType="none" 
                          autocorrect="false" 
                          textAlignment="left"
                          [(ngModel)]="datos.cantidad"
                          returnKeyType="next"
                          (focus)="onFocus($event)"
                          (returnPress)="pressKeyOne()"
                          (loaded)="focusFirst($event)"
                          (textChange)="onTextChangeCant(datos)" 
                          min="0"></TextField>

                    </StackLayout>
                    
                    <StackLayout  
                      orientation="horizontal"  
                      width="42%" 
                      marginLeft="10">
                                
                                <Label  
                                    verticalAlignment="center"
                                    width="40%"
                                    text="DESC: %" 
                                    textAlignment="left"></Label>
                                
                                <TextField #TFdescuento
                                    type="number" 
                                    verticalAlignment="center"  
                                    width="60%" 
                                    isEnabled="true" 
                                    keyboardType="number" 
                                    autocapitalizationType="none" 
                                    autocorrect="false" 
                                    textAlignment="left" 
                                    [(ngModel)]="datos.descuento" 
                                    returnKeyType="done" 
                                    (focus)="onFocus($event)" 
                                    (returnPress)="pressKeySecond(datos)"  
                                    (textChange)="onTextChangeDesc(datos)" 
                                    min="0" max="100"></TextField>
                    </StackLayout>
                </StackLayout>

                <StackLayout 
                        height="1" backgroundColor="#dadada" marginTop="2" marginBottom="2"></StackLayout>


                <StackLayout orientation="horizontal" width="100%" height="55" horizontalAlignment="center">
                     
                     <Button
                       width="45%"
                       horizontalAlignment="left"
                       color="white" 
                       fontSize="16"
                       paddingTop="5"
                       paddingBottom="5"
                       backgroundColor="#393939" 
                       (tap)="close()"  
                       text="CANCELAR"></Button>
                     
                     <Button
                       width="45%"
                       horizontalAlignment="right"
                       color="white" 
                       fontSize="16"
                       paddingTop="5"
                       paddingBottom="5"
                       backgroundColor="#393939" 
                       (tap)="submit(datos)"  
                       text="AGREGAR"></Button>

                </StackLayout>
    
        </StackLayout>

    </StackLayout>