<GridLayout 
    rows="11*, 1*"
    columns="*"
    height="100%"
    backgroundColor="#FFFFFF">

    <ScrollView 
        row="0"
        width="100%" 
        orientation="vertical">
            

            <StackLayout 
                height="100%"
                margin="0"
                horizontalAlignment="center" 
                verticalAlignment="top" 
                backgroundColor="#FFFFFF">
            
                <!-- SECCION DATOS GENERALES -->
                <GridLayout 
                    height="10%"
                    columns="4*, 2*, auto *" 
                    rows="*"  
                    backgroundColor="#023141" 
                    width="100%" 
                    height="42">
                        
                         <Label 
                            col="0" 
                            row="0" 
                            color="#FFFFFF"
                            margin="1" 
                            paddingLeft="5"
                            fontSize="20"
                            textAlignment="left"
                            fontWeigth="700"
                            [text]="cliente"></Label>

                        <Label 
                            col="1" 
                            row="0" 
                            color="#FFFFFF"
                            margin="1" 
                            fontSize="18"
                            textAlignment="right"
                            fontWeigth="700"
                            text="SALDO:"></Label>

                         <Label 
                            col="2" 
                            row="0" 
                            margin="1" 
                            fontSize="20"
                            paddingRight="5"
                            textAlignment="center"
                            fontWeigth="900"
                            textWrap="true"
                            [color]="(saldo > 0) ? '#d94d32' : (saldo < 0) ? '#61a03b' : '#FFFFFF'"
                            [text]="'$ '+saldo"></Label>

                </GridLayout>

                <GridLayout  
                    android:height="120px"
                    ios:height="80px"
                    paddingTop="4"
                    paddingBottom="4"
                    columns="3*, 3*, 2* , 2* , 2*" 
                    rows="*" 
                    color="#FFFFFF"
                    backgroundColor="#393939">
                    
                                     <Label
                                        col="0"
                                        row="0"
                                        horizontalAlignment="left"
                                        verticalAlignment="center"
                                        fontSize="12"
                                        marginLeft="5"
                                        text="EMISION"></Label>  
                                     <Label
                                        col="1"
                                        row="0"
                                        horizontalAlignment="left"
                                        verticalAlignment="center"
                                        fontSize="12" 
                                        text="COMPROBANTE"></Label>
                                     <Label
                                        col="2"
                                        row="0"
                                        horizontalAlignment="center"
                                        verticalAlignment="center"
                                        fontSize="12" 
                                        text="DEBE"></Label>
                                    <Label
                                        col="3"
                                        row="0"
                                        horizontalAlignment="left"
                                        verticalAlignment="center"
                                        fontSize="12" 
                                        text="HABER"></Label>
                                     <Label
                                        col="4"
                                        row="0"
                                        horizontalAlignment="center"
                                        verticalAlignment="center"
                                        fontSize="12" 
                                        text="SALDO"></Label>
                    </GridLayout>

                     <ListView
                        height="100%"
                        class="list-group"
                        [items]="deudas"  
                        [itemTemplateSelector]="templateSelector"> 

                        <ng-template 
                            let-item="item" 
                            let-i="index" 
                            nsTemplateKey="impaga">
                            
                        
                             <TablaItemComponent
                                [origen]="item.origen"
                                [emision]="item.fecha_emision"
                                [descripcion]="item.tipo_doc+ ' - '+item.clase_doc"
                                [nro_doc]="item.nro_doc"
                                [debe]="item.debe"
                                [haber]="item.haber"
                                [saldo]="item.saldo"></TablaItemComponent>
                        
                        
                        </ng-template>
                        

                    </ListView>



                
            </StackLayout>
            
</ScrollView>
            
<StackLayout row="1" verticalAlignment="bottom" backgroundColor="#023141" ios:paddingTop="5" ios:paddingBottom="5">
                     <Button 
                        android:width="100%"
                        ios:width="80%"
                        ios:height="40"
                        ios:marginTop="10"
                        fontSize="18"
                        backgroundColor="#023141"
                        color="#FFFFFF"
                        (tap)="close()"  
                        text="VOLVER"></Button>
</StackLayout>

</GridLayout>
